<%= simple_form_for(@grade) do |f| %>
  <%= f.error_notification %>

  <div class="form-horizontal">
    <%= f.association :student, label_method: :full_name %><br />
    <%= f.association :lesson, label_method: :title %><br />
    <%= f.input :score, collection: 1...4 %><br />
    <%= f.button :submit %>
  </div>
<% end %>
