<h1>Listing grades</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Student</th>
    <th>Course</th>
    <th>Lesson</th>
    <!-- <th>Assessment</th> -->
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grades.each do |grade| %>
  <tr>
    <td><%= grade.student.full_name %></td>
    <td><%= grade.course.course_name %></td>
    <td><%= grade.lesson.name %></td>
    <!-- <td><%= grade.assessment %></td> -->
    <td><%= grade.score %></td>
    <td><%= link_to 'Show', grade %></td>
    <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
    <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade', new_grade_path %>
