<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student.full_name %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @grade.lesson.title %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @grade.comment %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
