<% if class_session.in_session? %>
<div class="modal fade" id="attendanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You can't have a class without students!</h5>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body text-center">
         <%= simple_form_for @attendance,
            html: { id: 'attendance_form'},
            remote: true do |f| %>
            <%= f.error_notification %>
            <%= f.input :student_id, collection: Student.all.order(:last_name), label_method: :full_name, input_html: { class: "chzn", id: 'attendance_modal_experience_point_student_id' } %>
            <%= f.input :offering_id, as: :hidden, input_html: { value: class_session.offering } %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :date, as: :hidden, input_html: { value: Date.today } %>
            <%= f.input :week, input_html: { value: class_session.week }, as: :hidden %>
            <%= f.button :submit, "Add to Class", class: "btn btn-success", id: "attendance_modal_button" %>
        <% end %>
        <br>
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Done with attendance...</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
