<div class="well well-lg center-block">
  <div class="row" style="margin-bottom:20px;">
    <div class="col-lg-12 col-md-12 col-sm-12col-xs-12">
      <% offering  = Offering.find(class_session.offering) if class_session.offering %>
      <h3>In Session: <%= offering.offering_name if class_session.offering %></h3>
      <h4>Week: <%= class_session.week %></h4>
      <%= link_to "Course Page", offering.course, class: "btn btn-primary pull-right" if class_session.offering %>
      <%= link_to "Lesson Page", offering.lesson(class_session.week), target: "_blank", class: "btn btn-secondary pull-right", style: "margin-right:20px;" if offering.lesson(class_session.week) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-3 col-xs-12">
      <% if @todays_lesson && @todays_lesson.assignment %>
        <div class="card">
          <p>Lesson:</p>
          <div class="text-center">
              <%= link_to image_tag(resource_lookup(@todays_lesson.assignment).file_url(:thumb)), resource_lookup(@todays_lesson.assignment).file.url if resource_lookup(@todays_lesson.assignment) %>
          </div>
        </div>
      <% else %>
        <div class="card">
          <p>
            No lesson on file.
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-3 col-xs-12">
      <% if @last_weeks_lesson && @last_weeks_lesson.assignment_key && !(@last_weeks_lesson.assignment_key.empty?) %>
        <div class="card">
          <p>Key:</p>
          <div class="text-center">
              <%= link_to image_tag(resource_lookup(@last_weeks_lesson.assignment_key).file_url(:thumb)), resource_lookup(@last_weeks_lesson.assignment_key).file.url %>
          </div>
        </div>
      <% else %>
        <div class="card">
          <p>
            No lesson on file.
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="card">
        <% if @todays_lesson && (@todays_lesson.problems || @todays_lesson.resources) %>
          <p>Activities/Additional Resources:</p>
          <div class="text-center">
            <% if @todays_lesson && @todays_lesson.problems %>
              <% @todays_lesson.problems.each do |problem| %>
                <p>- <%= link_to "#{problem.title}", problem %></p>
              <% end %>
            <% end %>
            <% if @todays_lesson && @todays_lesson.resources %>
              <% @todays_lesson.resources.each do |resource| %>
                <p>- <%= link_to "#{resource.filename}", resource %></p>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p>
            No problems or resources.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= render 'attendance_grades_buttons' %>
  </div>
</div>
<% if class_session.students == [] %>
  <hr>
  <h3 style="color:red;">You have not taken attendance.</h3>
  <hr>
<% else %>
  <hr>
  <p><strong>Students in Attendance:</strong></p>
  <ul style="list-style-type:none;" id="sortable">
    <% class_session.students.each do |student_id| %>
      <div id='student_<%= student_id %>' class="alert <% if Student.find(student_id).is_inactive? %>alert-danger<% else %>alert-info<% end %> student_attending" data-studentname="<%= Student.find(student_id).full_name %>">
        <li class='student_<%= student_id %> '>
          <%= link_to Student.find(student_id).full_name, Student.find(student_id) %>
          <% if Student.find(student_id).is_inactive? %><span style="padding-left: 30px;">Please notify director that student is not active.</span><% end %>
          <%= link_to "×", { :controller => "class_sessions", :action => "remove_student", :student_id => student_id }, class: "close pull-right" %>
          <%= link_to "Add Assignment", new_assignment_path(student_id: student_id), class: "btn btn-secondary btn-sm pull-right", style: "margin:0 40px 0 0;" unless Assignment.completed?(student_id, class_session.week.to_i - 1) %>
          <%= link_to "Add Assignment", new_assignment_path(student_id: student_id), class: "btn btn-warning btn-sm pull-right", style: "margin:0 40px 0 0;" if Assignment.completed?(student_id, class_session.week.to_i - 1) %>
          <%= link_to "Add Badge", new_badge_request_path(student_id: student_id), class: "btn btn-secondary btn-sm pull-right", style: "margin:0 15px 0 0;" %>
        </li>
      </div>
    <% end %>
  </ul>
  <hr>
<% end %>
