<div class="well well-lg center-block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <% offering  = Offering.find(class_session.offering) if class_session.offering %>
      <h3>In Session: <%= offering.offering_name if class_session.offering %></h3>
      <h4>Week: <%= class_session.week %></h4>
      <%= link_to "Course Page", offering.course, class: "btn btn-primary pull-right" if class_session.offering %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
      <% if @todays_lesson && @todays_lesson.assignment %>
        <div class="well well-sm">
          <p>Lesson:</p>
          <div class="text-center">
              <%= link_to image_tag(resource_lookup(@todays_lesson.assignment).file_url(:thumb)), resource_lookup(@todays_lesson.assignment).file.url if resource_lookup(@todays_lesson.assignment) %>
          </div>
        </div>
      <% else %>
        <div class="well well-sm">
          <p>
            No lesson on file.
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
      <% if @last_weeks_lesson && @last_weeks_lesson.assignment_key && !(@last_weeks_lesson.assignment_key.empty?) %>
        <div class="well well-sm">
          <p>Key:</p>
          <div class="text-center">
              <%= link_to image_tag(resource_lookup(@last_weeks_lesson.assignment_key).file_url(:thumb)), resource_lookup(@last_weeks_lesson.assignment_key).file.url %>
          </div>
        </div>
      <% else %>
        <div class="well well-sm">
          <p>
            No lesson on file.
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="well well-sm">
        <% if @todays_lesson && (@todays_lesson.problems || @todays_lesson.resources) %>
          <p>Activities/Additional Resources:</p>
          <div class="text-center">
            <% if @todays_lesson && @todays_lesson.problems %>
              <% @todays_lesson.problems.each do |problem| %>
                <p>- <%= link_to "#{problem.title}", problem %></p>
              <% end %>
            <% end %>
            <% if @todays_lesson && @todays_lesson.resources %>
              <% @todays_lesson.resources.each do |resource| %>
                <p>- <%= link_to "#{resource.filename}", resource %></p>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p>
            No problems or resources.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= render 'attendance_grades_buttons' %>
  </div>
</div>
<% if class_session.students == [] %>
  <hr>
  <h3 style="color:red;">You have not taken attendance.</h3>
  <hr>
<% else %>
  <hr>
  <p><b>Students in Attendance:</b></p>
  <ul id="sortable">
    <% class_session.students.each do |student_id| %>
      <div id='student_<%= student_id %>' class="alert <% if Student.find(student_id).is_inactive? %>alert-danger<% else %>alert-info<% end %> student_attending" data-studentname="<%= Student.find(student_id).full_name %>">
        <li class='student_<%= student_id %> '>
          <%= link_to Student.find(student_id).full_name, Student.find(student_id) %>
          <% if Student.find(student_id).is_inactive? %><span style="padding-left: 30px;">Please notify director that student is not active.</span><% end %>
          <%= link_to "×", { :controller => "class_sessions", :action => "remove_student", :student_id => student_id }, class: "close pull-right" %>
        </li>
      </div>
    <% end %>
  </ul>
  <hr>
<% end %>
