<% if !@todays_offering_by_location.empty? %>
    <h3><%= current_user.location.name %> Schedule</h3>
    <%= link_to "hide schedule", "javascript:void(0)", id: "hide_schedule" %>
<% end %>

<div class='daily-schedule'>
    <% if @todays_offering_by_location.empty? %>
     <b>No Classes Scheduled.</b>
    <% else %>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Classroom A</th>
                    <th>Classroom B</th>
                    <th>Classroom C</th>
                </tr>
            </thead>
            <tbody>
                <% if Time.now.saturday? %>
                <tr>
                    <td> 9:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == " 9:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 9:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 9:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                        <% if !i %>
                            <td></td>
                        <% end %>
                </tr>
                <tr>
                    <td>10:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == "10:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == "10:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == "10:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                        <% if !i %>
                            <td></td>
                        <% end %>
                </tr>
                <tr>
                    <td>11:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == "11:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == "11:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == "11:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                        <% if !i %>
                            <td></td>
                        <% end %>
                </tr>
                <tr>
                    <td>12:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == "12:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == "12:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == "12:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                    <% if !i %>
                        <td></td>
                    <% end %>
                </tr>
                <% else %>
                <tr>
                    <td> 4:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == " 4:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 4:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 4:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                        <% if !i %>
                            <td></td>
                        <% end %>
                </tr>
                <tr>
                    <td>5:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == " 5:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 5:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 5:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                        <% if !i %>
                            <td></td>
                        <% end %>
                </tr>
                <tr>
                    <td>6:30</td>
                    <% i = false %>
                    <% @todays_offering_by_location.each do |offering|%>
                        <% if offering.time.strftime("%l:%M") == " 6:30" && offering.classroom == "A" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 6:30" && offering.classroom == "B" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% elsif offering.time.strftime("%l:%M") == " 6:30" && offering.classroom == "C" %>
                        <% i = true %>
                            <td>
                                <p><b><%= offering.name %></b></p>
                                <u>Teachers:</u>
                                <ul>
                                    <% offering.users.each do |teacher| %>
                                        <% if teacher.active? %>
                                          <li><em><%= teacher.full_name %></em></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                        <% end %>
                    <% end %>
                        <% if !i %>
                            <td></td>
                        <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
     <% end %>
</div>

