<% Opportunity::STATUSES.each_with_index do |opp, i| %>
  <% if i < 6 %>
    <div
    class="opportunity_statuses well well-sm text-center"
    id="<%= opp.downcase.gsub(" ", "_") %>"
    data-status="<%= i %>">
      <%= link_to "javascript:void(0)", data: { status: i } do %>
      <h4><%= opp %>: <span><%= current_user.location.opportunities.where(status: i).count %></span></h4>
      <% end %>
    </div><!-- /.leads -->
  <% end %>
<% end %>