<div id="gradesModal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Name the grade...</h3>
  </div>
  <center>
    <div class="modal-body-grades">
      <%= simple_form_for(@grade, remote: true) do |f| %>
      <%= f.error_notification %>

      <div class="form-horizontal">
        <%= f.input :student_id %><br />
        <%= f.input :lesson_id %><br />
        <%= f.input :score, collection: 1...4%><br />
        <%= f.input :comment, input_html: { rows: 2 } %>
        <%= f.button :submit, id: "add-grade", disabled: :disabled %>
      </div>
      <% end %>
    </div>
  </center>
</div>