<div class="lead_group">
  <div id="lead<%= opportunity.id %>" data-id="<%= opportunity.id %>" class="well well-sm" style="z-index:1;">
    <li>
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <%= link_to "#{opportunity.student_name}", opportunity unless opportunity.student %>
          <%= link_to "#{opportunity.student}", opportunity.student if opportunity.student %> - <span style="font-weight:bold;">Last Note: <%# lead.notes.last ? lead.notes.last.created_at.strftime("%D") : "None" %></span> (Added: <%= opportunity.created_at.strftime("%D") %>)
        </div> <!-- /span9 -->
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <%= link_to "javascript:void(0)", class: "stage_attr" do %>
            <i class="fa fa-plus pull-right"></i>
          <% end %>
        </div>
      </div> <!-- /.row -->
    </li>
  </div> <!-- /.ui-draggable -->
  <div class="lead_toolbar" style="display:none;">
      <%= render '/shared/lead_note_form', opportunity: opportunity %>
  </div> <!-- /.lead_toolbar -->
</div> <!-- /.lead_group -->