<div class="location-stats">
  <div class"location-name">
    <h4><%= @user_location.name%> Stats</h4>
  </div>
  <p>
    <b># of Offerings: </b>
    <%= @user_location.offerings.where("active = ?", true).count %>
  </p>
  <p>
    <b># of Students: </b>
    <%= @active_student_count + @student_restart.count %>
  </p>
  <p>
    <b># of Students On Hold: </b>
    <%= @hold_student_count %>
  </p>
  <p>
    <b>Avg. Students/Offering: </b>
    <% if @user_location.offerings.count == 0 %>
      <p><em>There are no students enrolled.</em></p>
    <% else %>
      <% @active_student_count / @location_offerings_count %>
    <% end %>
  </p>
</div>
</br>

<!-- <p>
<%= link_to "Adjust Student Enrollment", offerings_students_path, class: "btn" %>
</p> -->