<div class="row">
  <div class="col-xs-12">
    <% if @user.hide_badge_banner? %>
      <%= link_to "Show Banner", show_badge_banner_users_path(id: @user.id), class: 'pull-right', style: 'margin-bottom:10px;' %>
    <% else %>
      <%= link_to "Hide Banner", hide_badge_banner_users_path(id: @user.id), class: 'pull-right', style: 'margin-bottom:10px;' %>
      <%= link_to badge_home_path, target: "_blank" do %>
        <%= image_tag('badges_banner.png', width: "100%", style: "margin:0 0 20px 0;") %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4 style="color:red;margin: 0 0 20px 0;">Note: Not all badge descriptions are complete. They will be updated shortly. If it is unclear how a badge can be earned please check back for updates and additional resources. Thanks!</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 style="margin:10px 0 10px 0;">Message Center</h1>
        <h3 style="margin:10px 0 10px 0;"><small>Do you have a compliment, concern, or question? This is the place.</small></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for @message do |f| %>
          <%= f.input :subject, label: false, placeholder: "Subject" %>
          <%= f.input :content, as: :text, label: false, placeholder: "Message", input_html: { rows: 6, style: "resize:vertical;" } %>
          <%= f.input :user_id, input_html: { value: @user.id }, as: :hidden %>
          <%= f.input :status, input_html: { value: 0 }, as: :hidden %>
          <%= f.input :location_id, input_html: { value: @user.location_id }, as: :hidden %>
          <%= f.submit "Submit", class: 'btn btn-lg btn-default pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 style="margin:10px 0 10px 0;" data-toggle="tooltip" data-placement="right" title="See below for link to more information about badges.">Badges Are Here!</h1>
      </div>
      <div class="panel-body text-center">
        <%= link_to badge_home_path do %>
          <h2>More Information</h2>
        <% end %>
        <%= link_to faq_badges_path do %>
          <h2>FAQs</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- Render each parent's student in an accordian view and their offering(s) -->
<% student_count = @user.students.count %>
<% @user.students.each_with_index do |student, i| %>
  <% if i % 2 == 0 %>
    <div class="row">
  <% end %>
    <div class="col-md-6 col-xs-12">
      <div id="student-<%= student.id %>" class="panel panel-default parent-student-home" style="height:100%;">
        <div class="panel-heading">
          <div class="text-center">
            <%= image_tag(student.avatar.image_url, size: "75x75") if student.avatar %>
          </div>
          <h3 class="text-center"><%= link_to student.full_name, student %></h3>
        </div>
        <div class="panel-body">
          <p class="text-center"><u>Total Credits:</u> <%= student.credits %></p>
          <p class="text-center"><u>Total XP:</u> <%= student.xp_total %></p>
          <p style="height:50px;overflow:scroll;" class="text-center"><u>Recent comment:</u>
            "<%= student.last_assignment ? student.last_assignment.comment : "There are no comments on file." %>"
          </p>
        </div>
        <% if student.is_active_mathematician? %>
          <div class="panel-footer">

            <div class="row">
              <div class="col-xs-12 text-center">
                Assignments Last 90 Days
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 text-center">
                <h3>Perfect</h3>
                <h3 style="color:green;">
                  <%= student.assignment_scores_last_90_days("perfect").count %>
                </h3>
              </div>
              <div class="col-xs-4 text-center">
                <h3>Complete</h3>
                <h3>
                  <%= student.assignment_scores_last_90_days("complete").count + student.assignment_scores_last_90_days("perfect").count %>
                </h3>
              </div>
              <div class="col-xs-4 text-center">
                <h3 class="hidden-xs">Incomplete</h3>
                <h3 class="hidden-sm hidden-md hidden-lg">Inc.</h3>
                <h3 style="color:red;">
                  <%= student.assignment_scores_last_90_days("incomplete").count %>
                </h3>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% if i % 2 == 1 || i+1 == student_count %>
    </div>
  <% end %>
<% end %>
