<!-- Render each parent's student in an accordian view and their offering(s) -->

<h3><%= @user.first_name %>'s <%= "Student".pluralize(@user.students.count)%></h3>
<% student_count = @user.students.count %>
<% @user.students.each_with_index do |student, i| %>
  <% if i % 2 == 0 %>
    <div class="row">
  <% end %>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div id="student-<%= student.id %>" class="panel panel-default parent-student-home">
        <div class="panel-heading">
          <div class="text-center">
            <%= image_tag(student.avatar.image_url, size: "75x75") if student.avatar %>
          </div>
          <h3 class="text-center"><%= link_to student.full_name, student %></h3>
        </div>
        <div class="panel-body">
          <p class="text-center"><u>Total Credits:</u> <%= student.credits %></p>
          <p class="text-center"><u>Total XP:</u> <%= student.xp_total %></p>
          <p class="text-center"><u>Recent comment:</u>
            "<%= student.last_assignment_xp ? student.last_assignment_xp.comment : "There are no comments on file." %>"
          </p>
        </div>
      </div>
    </div>
  <% if i % 2 == 1 || i+1 == student_count %>
    </div>
  <% end %>
<% end %>
