<% if class_session.in_session? %>
  <!-- Class In Session -->
  <div id='class_in_session'>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= render 'class_in_session' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= render 'teachers_offerings' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>

  <%= render 'attendance_modal' %>

  <%= render 'class_summary_modal' %>

<% else %>
  <!-- Starts A Class -->
  <div class="row">
    <div class="classform col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= render 'start_a_class' %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <%= render 'teachers_offerings' %>
    </div>
  </div>
<% end %>
