<% if class_session.in_session? %>
<% else %>
<div class="classform">
  <h3>Start Class!</h3>
    <%= form_tag(controller: "class_sessions", action: "start_class", method: "post") do %>
      <%= label_tag "Class" %>
      <%= collection_select :offering, :id, @user_offerings, :id, :offering_name %>
      <%= label_tag "Week" %>
      <%= text_field_tag :week, params[:week] %>
      <p>
        <%= submit_tag "Start Class", id: :startclass, disabled: :disabled, class: "m-btn green" %>
      </p>
</div>
  <% end %>
<% end %>


<div id='class_in_session'>
  <%= render 'class_in_session' %>
</div>

<%= render 'attendance_modal' %>

<%= render 'grades_modal' %>

<%= render 'attendance_grades_buttons' %>

<%= render 'teachers_offerings' %>