<% if class_session.in_session? %>
  <!-- Class In Session -->
  <div id='class_in_session'>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'class_in_session' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'class_in_session_roster' %>
      </div>
    </div>
  </div>
  <hr>
  <%= render 'attendance_modal' %>

  <%= render 'class_summary_modal' %>

<% else %>
  <!-- Starts A Class -->
  <div class="row">
    <div class="classform col-md-6">
      <%= render 'start_a_class' %>
    </div>
    <div class="classform col-md-6">
      <h3>Start HW Help</h3>
      <%= form_tag({controller: "help_sessions", action: "start_class", method: "post"}, class: "simple_form form-inline") do %>
        <%= label_tag "Class" %>
        <%= collection_select :offering, :id, @offerings, :id, :offering_name,{},{class: "form-control"} %>
        <br>
        <br>
        <%= label_tag "Week" %>
        <%= text_field_tag :week, params[:week], class:"form-control" %>
        <br>
        <br>
        <%= submit_tag "Start Class", id: :startclass, disabled: :disabled, class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <%= render 'teachers_offerings' %>
    </div>
  </div>
<% end %>

<% if !(@location_hw_help_appointments.empty?) %>
  <%= render 'locations/homework_help_appointments', appointments: @location_hw_help_appointments unless @location_hw_help_appointments.empty? || !(current_user.role == "Teaching Assistant" || current_user.admin?) %>
<% end %>
