<!-- renders each teacher's offering in home.html.erb, can expand or collapse to view students in class -->

<h3><%= @user.first_name %>'s <%= "Class".pluralize(@user.offerings.count)%></h3>
<div class="accordion" id="accordion2">
 <% @user_offerings.each do |offering| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=offering.id.humanize.capitalize%>">
        <%= offering.offering_name %>
      </a>
    </div>
    <div id="collapse<%=offering.id.humanize.capitalize%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class= "table table-striped table-hover table-bordered">
          <tr>
            <th> <%= link_to "Student Name", :sort => "Name" %> </th>
            <th> <%= link_to "XP", :sort => "points" %> </th>
          </tr>
            <% offering.students.each do |student| %>
              <tr>
                <td><%= link_to student.full_name, student %></td>
                <td><%= student.xp_total %></td>
              </tr>
            <% end %>
        </table>
        <center>
          <%= link_to "#{offering.course.course_name} Course Lessons", offering.course, class: "btn btn-small" %>
        </center>
      </div>
    </div>
  </div>
 <% end %>
</div>