<div class="row">
  <div style="margin-bottom:20px;" class="col-lg-6 col-md-12 col-sm-12 col-sm-12 text-center">
    <%= image_tag("badge_poster.jpg", width: "550", class: "hidden-sm hidden-xs") %>
    <%= image_tag("badge_poster.jpg", width: "360", class: "hidden-md hidden-lg") %>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-sm-12 badge_home_text">
    <p>
      We measure the success of our programs by the engagement of our students.
    </p>
    <p>
     We know we’ve succeeded when a parent tells us their child is doing math just for fun in their spare time. That’s a huge victory!
    </p>
    <p>
      People who achieve great things have one thing in common, a passion for what they do. We want to foster that kind of passion in our students.
    </p>
    <p>
      To aid in that process, we are rolling out a badge system which will encourage student to go above and beyond.
    </p>
    <p>
      They will receive recognition for excelling in school, activities at home, and even participating in hobbies or clubs outside of school.
    </p>
    <div class="text-center">
      <%= link_to("#badge_information", id: "badge_information_link") do %>
        <h1>more information</h1>
        <i class="fa fa-chevron-down fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>
<hr class="thick_hr">
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 text-center">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
          <i class="fa fa-rocket badge_information_icon" style="color:#AA3A3A;"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
        <h1 class="badge_information_header_text">
          Complete cool projects.
        </h1>
      </div>
    </div>
    <hr class="thick_hr">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
          <i class="fa fa-puzzle-piece badge_information_icon" style="color:#29619D;"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
        <h1 class="badge_information_header_text">
          Solve challenging puzzles.
        </h1>
      </div>
    </div>
    <hr class="thick_hr">
    <div class="row">
      <div id="badge_information"  class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
          <i class="fa fa-certificate badge_information_icon" style="color:#CFD24E;"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 text-center">
        <h1 class="badge_information_header_text">
          Earn badges and reap rewards.
        </h1>
      </div>
    </div>

  <hr class="thick_hr">
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="text-center">
      <%= link_to("#earn_badges", id: "earn_badges_link") do %>
        <h1>How do I earn badges?</h1>
        <i class="fa fa-chevron-down fa-3x"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row" style="padding:200px 0 100px 0">
  <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-insightful-questions.png', size: '400x400') %>
  </div>
  <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-attention-to-detail.png', size: '400x400') %>
  </div>
  <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-hot-streak.png', size: '400x400') %>
  </div>
  <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center">
    <%= image_tag('badges/MATHPLUS-Badge-dedication.png', size: '400x400') %>
  </div>
  <div class="col-sm-12 col-xs-12 hidden-lg hidden-md text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-insightful-questions.png', size: '250x250') %>
  </div>
  <div class="col-sm-12 col-xs-12 hidden-lg hidden-md text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-attention-to-detail.png', size: '250x250') %>
  </div>
  <div class="col-sm-12 col-xs-12 hidden-lg hidden-md text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-hot-streak.png', size: '250x250') %>
  </div>
  <div class="col-sm-12 col-xs-12 hidden-lg hidden-md text-center" style="padding:0 0 200px 0;">
    <%= image_tag('badges/MATHPLUS-Badge-dedication.png', size: '250x250') %>
  </div>
</div>
<div id="earn_badges" class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="text-center">
        <h1 class="badge_information_header_text">Ways to Earn Badges</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="text-center">
      <h1>Complete Projects</h1>
      <ul>
        <li>Build A Hexaflexagon</li>
        <li>Construct The Best Paper Airplane</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="text-center">
      <h1>Solve Problems</h1>
      <ul>
        <li>Leo The Rabbit</li>
        <li>Ruler Problem</li>
        <li>8 Queens</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="text-center">
      <h1>Watch Movies</h1>
      <ul>
        <li>Hugo</li>
        <li>Donald Duck In Mathemagic Land</li>
        <li>October Sky</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="text-center">
      <h1>Tackle Code Challenges</h1>
      <ul>
        <li>Fizz Buzz</li>
        <li>Tic Tac Toe</li>
        <li>Icarus and Dedalus</li>
        <li>Game of Life</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="text-center">
      <h1>Research A Topic</h1>
      <ul>
        <li>Pascal's Triangle</li>
        <li>Serpinski Triangles</li>
      </ul>
    </div>
  </div>
</div>