<% title 'Home' unless !signed_in? %>
<% if signed_in? %>
  <%= render 'first_login_password' %>

  <div id="results">
    <%= render 'shared/user_search_results' %>
  </div>

  <% if current_user.admin? %>

    <%= render 'admin_home' %>

    <%= render 'parent_lookup_modal' %>

    <%= render 'student_lookup_modal' %>

    <%= render 'new_parent_modal', table_id: "new_user" %>

    <%= render 'new_student_modal' %>

  <% end %>

  <%if current_user.teacher? %>

    <%= render 'teacher_home' %>

    <%= render 'activity_feed' %>

  <% end %>

  <% if current_user.parent? %>

    <%= render 'parent_home' %>

  <% end %>

<% else %>
  <% title 'Sign In' %>
  <%= render 'login_screen' %>

<% end %>
