<% if signed_in? %>

<%= render 'first_login_password' %>

<div class="row-fluid">
  <div class="span12">
    <div id="results">
      <%= render 'shared/user_search_results' %>
    </div>
      <%if current_user.employee? %>
        <div class="row-fluid">
          <div class="span5">
            <%= render 'new_student_feed' %>
          </div>
          <div class="span3">
            <%= render 'on_hold' unless current_user.teacher? %>
          </div>
        </div>
        <% if current_user.admin? %>
          <%= render 'daily_schedule' %>
          <hr>
          <%= render 'lead_management' %>
        <% end %>

      <% end %>

      <%if current_user.teacher? %>

        <%= render 'teacher_offerings' %>

        <%= render 'activity_feed' %>

      <% end %>

      <% if current_user.parent? %>
        <%= render 'parent_students' %>
      <% end %>
  </div>
</div>

<% else %>

  <%= render 'login_screen' %>

<% end %>
