<% if signed_in? %>

  <div class="row">
    <aside class="span3 user-info">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <% if @user.role == "Teacher" %>
        <section>  
          <%= render 'clock_in' %>
        </section>
        <section>
          <%= render 'shared/user_search' %>
        </section>
      <% end %>
    </aside>
    <div class="span8">
      <div id="results"><%= render 'shared/user_search_results' %></div>

      <% if current_user.role == "Teacher" %>
        <%= render 'teacher_offerings' %>
      <% end %>

      <% if @user.role == "Parent" %>
        <%= render 'parent_students' %>
      <% end %>
    </div>
  </div>  

<% else %>

  <div class="well well-small">
    <center>
      <h1>MPA | App</h1>

      <h2>
        <a href="http://mathplusacademy.com/">Math Plus Academy</a>
      </h2>

      <%= link_to "Login", new_user_session_path, 
                                  class: "btn btn-success btn-primary" %>
    </center>                                
  </div>

<% end %>

