<% if signed_in? %>

<%= render 'first_login_password' %>

<div class="row">
  <aside class="span3 user-info">

    <section>
     <%= render 'shared/user_info' %>
    </section>

   <%if current_user.employee? %>

    <section>
      <%= render 'clock_in' %>
    </section>

    <section>
      <% if current_user.admin? %>
      <%= render 'location_stats' %>
      <% end %>
    </section>

    <section>
      <%= render 'shared/user_search' %>
    </section>

  <% end %>
</aside>

<div class="span8">
  <div id="results">
    <%= render 'shared/user_search_results' %>
  </div>

    <%if current_user.employee? %>

      <%= render 'new_student_feed' %>

      <% if current_user.admin? %>

        <%= render 'daily_schedule' %>

        <%= render 'on_hold' %>

      <% end %>

    <% end %>

    <%if current_user.teacher? %>

      <%= render 'teacher_offerings' %>

      <%= render 'activity_feed' %>

    <% end %>

    <% if current_user.parent? %>

      <%= render 'parent_students' %>

    <% end %>

  </div>
</div>

<% else %>

  <%= render 'login_screen' %>

<% end %>