<% if signed_in? %>
<%= render 'first_login_password' %>

<div id="results">
  <%= render 'shared/user_search_results' %>
</div>

  <%if current_user.employee? %>
    <div class="row">
      <div class="dashboard">
        <%= render 'todays_overview' %>

        <%= render 'action_notes' if current_user.admin? %>
      </div>
    </div>

    <% if (!(@location_assessment_appointments.empty?) || !(@location_hw_help_appointments.empty?)) %>
      <% unless class_session.in_session? %>
        <h2>Today's Assessments</h2>
        <%= render 'locations/assessment_appointments', appointments: @location_assessment_appointments unless @location_assessment_appointments.empty? || !(current_user.admin?) %>

        <%= render 'locations/homework_help_appointments', appointments: @location_hw_help_appointments unless @location_hw_help_appointments.empty? || !(current_user.role == "Teaching Assistant" || current_user.admin?) %>

        <hr>
      <% end %>
    <% end %>

    <% if current_user.admin? %>
      <%= render 'daily_schedule' %>

      <hr>

      <%= render 'lead_management' %>

      <hr style="margin-bottom:40px;">

      <div class="row">
      <% if @messages %>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div style="height:300px;" class="panel panel-default">
            <div class="panel-heading">
              <h3 style="margin:10px 0 10px 0;" class="text-center">Messages</h3>
            </div>
            <div class="panel-body">
              <div style="margin-top:0;" class="cards">
                <ul class="list-unstyled">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <% @messages.each do |message| %>
                        <li>
                          <div class="well well-sm">
                            <div style="padding:7px 10px 0 10px;">
                              <p>
                                From: <%= message.user.full_name %>
                              </p>
                              <p style="margin-bottom:5px;">
                                <%= message.content %>
                              </p>
                            </div> <!-- adds padding to message -->
                          </div>
                        </li>
                      <% end %>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @badge_requests %>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div style="height:300px;" class="panel panel-default">
            <div class="panel-heading">
              <h3 style="margin:10px 0 0 0;" class="text-center">Badge Requests</h3>
            </div>
            <div class="panel-body">
              <div style="margin-top:0;" class="cards">
                <ul class="list-unstyled">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <% @badge_requests.each do |badge_request| %>
                        <% if badge_request.badge %>
                          <li id="badge-request-<%= badge_request.id %>" data-badge-request-id="<%= badge_request.id %>">
                            <div class="well well-sm">
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <div style="padding:10px 0 0px 15px;">
                                    <p>
                                      Student: <%= badge_request.student.full_name %>
                                    </p>
                                    <p>
                                      Badge: <%= badge_request.badge.name %>
                                    </p>
                                  </div>
                                </div> <!-- adds padding to message -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right:15px;">
                                  <%= link_to "Approve", "javascript:void(0)", class: "btn btn-success pull-right badge-request-approval", style: "margin:20px 15px 0 0;" %>
                                </div> <!-- adds padding to message -->
                              </div>
                            </div>
                          </li>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

      <%= render 'parent_lookup_modal' %>

      <%= render 'student_lookup_modal' %>

      <%= render 'new_parent_modal', table_id: "new_user" %>

      <%= render 'new_student_modal' %>
    <% end %>

  <% end %>

  <%if current_user.teacher? %>

    <%= render 'teacher_offerings' %>

    <%= render 'activity_feed' %>

  <% end %>

  <% if current_user.parent? %>

    <%= render 'parent_students' %>

  <% end %>

<% else %>

  <%= render 'login_screen' %>

<% end %>
