<% if signed_in? %>

<%= render 'first_login_password' %>

<div class="row">
  <aside class="span3 user-info">

    <section>
     <%= render 'shared/user_info' %>
    </section>

   <%if current_user.employee? %>

    <section>
      <%= render 'clock_in' %>
    </section>

    <section>
      <% if current_user.admin? %>
      <%= render 'location_stats' %>
      <% end %>
    </section>

    <section>
      <%= render 'shared/user_search' %>
    </section>

  <% end %>
</aside>

<div class="span8">
  <div id="results">
    <%= render 'shared/user_search_results' %>
  </div>

    <%if current_user.employee? %>

      <div class="row">
        <div class="span5">
          <%= render 'new_student_feed' %>
        </div>
        <div class="span3">
          <%= render 'on_hold' %>
        </div>
      </div>
      <hr>

      <% if current_user.admin? %>

        <%= render 'daily_schedule' %>

        <hr>

      <h3>Lead Management</h3>
      <div id="lead_stages">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Lead Stages
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Leads", "javascript:void(0)", data: { stageid: 6 } %></li>
              <li><%= link_to "Appointment Scheduled", "javascript:void(0)", data: { stageid: 1 } %></li>
              <li><%= link_to "Appointment Missed", "javascript:void(0)", data: { stageid: 7 } %></li>
              <li><%= link_to "Assesment Completed", "javascript:void(0)", data: { stageid: 2 } %></li>
              <li><%= link_to "Trial Offered", "javascript:void(0)", data: { stageid: 3 } %></li>
              <li><%= link_to "Won", "javascript:void(0)", data: { stageid: 4 } %></li>
              <li><%= link_to "Lost", "javascript:void(0)", data: { stageid: 5 } %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="span4">
          <div id="stage_list">
            <div class="new stages">
              <h4><u>New Leads</u></h4>
              <ul>
                <% current_user.leads.where("stage_id = ?", 6).each do |lead| %>
                  <div id="lead<%= lead.id %>" class="ui-draggable" draggable="true" data-id="<%= lead.id %>">
                    <li>
                      <div class="row">
                        <div class="span3">
                          <%= link_to "#{lead.full_name}", lead%> - Stage: <%= lead.stage.name %>
                        </div>
                        <%= link_to "javascript:void(0)", class: "stage_attr" do %>
                          <i class="icon icon-plus pull-right"></i>
                        <% end %>
                      </div>
                    </li>
                    <div class="lead_toolbar">This is the toolbar.</div>
                  </div>
                <% end %>
              </ul></br>
              <p><%= link_to "Add Lead", "#leadModal", data: {toggle: :modal} %></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="leads" id="appointment_scheduled">
            <h4><u>Appointment Shceduled</u></h4>
            <p></p>
          </div>
          <div class="leads" id="assessment_completed">
            <h4><u>Assessment Completed</u></h4>
            <p></p>
          </div>
          <div class="leads" id="trial_offered">
            <h4><u>Trial Offered</u></h4>
            <p></p>
          </div>
          <div class="leads" id="won">
            <h4><u>Won</u></h4>
            <p></p>
          </div>
          <div class="leads" id="lost">
            <h4><u>Lost</u></h4>
            <p></p>
          </div>
        </div>
      </div>

      <div id="leadModal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Add New Lead!</h3>
        </div>
        <div class="modal-body">
           <%= simple_form_for @lead,
              url: url_for( action: :create, controller: :leads ),
              method: :post,
              html: { id: 'new_lead'},
              remote: true do |f| %>
            <%= f.error_notification %>

            <div class="row">
            <div class="form-inputs">
              <div class="span3">
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :phone %>
                <%= f.input :email %>
              </div>
              <div class="span3">
                <%= f.association :user, collection: User.where("role = ? AND active =?", "Admin", true), label_method: :full_name %>
                <%= f.association :stage %>
                <%= f.input :student_information, input_html: { rows: 5 } %>
                <%= f.input :active %>
              </div>
            </div>
            </div>
              <%= f.button :submit, "Add Lead!", class: "m-btn" %>
          <% end %>
        </div>
      </div>

      <% end %>

    <% end %>

    <%if current_user.teacher? %>

      <%= render 'teacher_offerings' %>

      <%= render 'activity_feed' %>

    <% end %>

    <% if current_user.parent? %>

      <%= render 'parent_students' %>

    <% end %>

  </div>
</div>

<% else %>

  <%= render 'login_screen' %>

<% end %>
