<div class="experience_points_new">
	<% if params[:student]%>
		<%= simple_form_for @experience_point, :validate => true do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		  	<%= f.association :student, label_method: :full_name, :selected => params[:student]  %>
		    <%= f.association :experience, ollection: Experience.order('name ASC').where("active = ?", true), label: "Achievement", input_html: {class: "xp_chosen"} %>
		    <%= f.input :points %>
		    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
		    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
		  </div>
		    <%= f.button :submit, class: "m-btn" %>
		<% end %>
		<p>
	  	  <%= render '/students/nav_buttons' %>
		</p>
	<% elsif params[:attendance] %>
		<%= simple_form_for @experience_point do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			  	<%= f.input :student_id, :autofocus => true %>
			    <%= f.association :experience, :selected => params[:attendance], label: "Achievement ID", input_html: {class: "xp_chosen"} %>
			    <%= f.input :points, :input_html => { :value => '20'} %>
			    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
			    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
			  </div>
			    <%= f.button :submit, class: "m-btn" %>
			<% end %>
			<a href="/" class="m-btn red">Done with attendance...</a>
	<% elsif params[:homework] %>
		<%= simple_form_for @experience_point, :validate => true do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			  	<%= f.input :student_id, :autofocus => true %>
			    <%= f.association :experience, label: "Homework Score", collection: Experience.where(:category => "Homework"), label_method: :name %>
			    <%= f.input :points %>
			    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
			    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
			  </div>
			    <%= f.button :submit, class: "m-btn" %>
			<% end %>
			<a href="/" class="m-btn red">Done with grading...</a>
	<% else %>
		<%= simple_form_for @experience_point, :validate => true do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :student_id, :autofocus => true %>
				<%= f.association :experience, collection: Experience.order('name ASC').where("active = ?", true), label: "Achievement", input_html: {class: "xp_chosen"} %>
		    <%= f.input :points %>
		    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
		    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
		  </div>
		    <%= f.button :submit, class: "m-btn" %>
		<% end %>
		<p>
	  	  <%= render '/students/nav_buttons' %>
		</p>
	<% end %>
</div>
