<div class="experience_points_new">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<% if params[:student]%>
			<%= simple_form_for @experience_point do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			  	<%= f.association :student, label_method: :full_name, :selected => params[:student], input_html: {class: "xp_chosen"}  %>
			    <%= f.association :experience, collection: Experience.order('name ASC').where("active = ?", true), label: "Achievement", input_html: {class: "xp_chosen"} %>
			    <%= f.input :points %>
			    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
			    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
			  </div>
			    <%= f.button :submit, class: "btn btn-lg btn-success" %>
			<% end %>
			<br>
			<p>
		  	  <%= render '/students/nav_buttons' %>
			</p>
		<% elsif params[:attendance] %>
			<%= simple_form_for @experience_point do |f| %>
				  <%= f.error_notification %>

				  <div class="form-inputs">
			    <%= f.association :student, label_method: :full_name, :autofocus => true, input_html: {class: "xp_chosen"} %>
				    <%= f.association :experience, :selected => params[:attendance], label: "Achievement ID", input_html: {class: "xp_chosen"} %>
				    <%= f.input :points, :input_html => { :value => '20'} %>
				    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
				    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
				  </div>
				    <%= f.button :submit, class: "btn btn-success btn-lg" %>
				<% end %>
				<a href="/" class="btn btn-lg btn-danger">Done with attendance...</a>
		<% elsif params[:homework] %>
			<%= simple_form_for @experience_point do |f| %>
				  <%= f.error_notification %>

				  <div class="form-inputs">
			    <%= f.association :student, label_method: :full_name, :autofocus => true, input_html: {class: "xp_chosen"} %>
				    <%= f.association :experience, label: "Homework Score", collection: Experience.where(:category => "Homework"), label_method: :name %>
				    <%= f.input :points %>
				    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
				    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
				  </div>
				    <%= f.button :submit, class: "btn btn-success btn-lg" %>
				<% end %>
				<br>
				<a href="/" class="btn btn-lg btn-danger">Done with grading...</a>
		<% else %>
			<%= simple_form_for @experience_point do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			    <%= f.association :student, label_method: :full_name, :autofocus => true, input_html: {class: "xp_chosen"} %>
					<%= f.association :experience, collection: Experience.order('name ASC').where("active = ?", true), label: "Achievement", input_html: {class: "xp_chosen"} %>
			    <%= f.input :points %>
			    <%= f.input :comment, as: :text, :input_html => { :rows => 5 } %>
			    <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
			  </div>
			    <%= f.button :submit, class: "btn btn-success btn-lg" %>
			<% end %>
			<br>
			<p>
		  	  <%= render '/students/nav_buttons' %>
			</p>
		<% end %>
		</div>
	</div>
</div>
