<% title "Experience Points" %>

<h1><%= yield(:title)%></h1>

<% if current_user.admin? %>
  <p>
    <%= link_to 'New Experience Point', new_experience_point_path, class: "m-btn green" %>
  </p>
<% end %>

<table id="xp" class="display">
  <thead>
    <tr>
      <th>ID</th>
      <th>Experience</th>
      <th>Points</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @experience_points.each do |experience_point| %>
      <tr>
        <td><%= experience_point.id %></td>
        <td><%= experience_point.experience.name %></td>
        <td><%= experience_point.points %></td>
        <td><%= experience_point.student.full_name %></td>
        <td><%= link_to 'Show', experience_point %></td>
        <td><%= link_to 'Edit', edit_experience_point_path(experience_point) %></td>
        <td><%= link_to 'Destroy', experience_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

