<div class="row">
  <div class="col-lg-6 col-md-6">
    <p>
      <b>Experience:</b>
      <%= @experience_point.experience.name %>
    </p>

    <p>
      <b>Student:</b>
      <%= @experience_point.student.full_name %>
    </p>

    <p>
      <b>Points:</b>
      <%= @experience_point.points %>
    </p>

    <p>
      <b>Last Updated:</b>
      <%= @experience_point.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %e, %l:%M %p") %>
    </p>

    <% if @experience_point.comment? %>
      <p>
        <b>Comment:</b>
        <%= @experience_point.comment %>
      </p>
    <% end %>

    <p>
      <b>Created By:</b>
      <%= @experience_point.user.full_name %>
    </p>

    <% if @experience_point.attendance %>
      <p>
        <%= link_to "Attendance Record", @experience_point.attendance %>
      </p>
    <% end %>

    <%if current_user.teacher? || current_user.admin? %>
      <p>
        <%= link_to 'Edit', edit_experience_point_path(@experience_point), class: "m-btn" %> | <%= link_to 'Destroy', @experience_point, method: :delete, data: { confirm: 'Are you sure?' }, class: "m-btn red" %>
      </p>
    <% end %>
  </div>
</div>
