<p id="notice"><%= notice %></p>

<p>
  <b>Experience:</b>
  <%= @experience_point.experience_id %>
</p>

<p>
  <b>Points:</b>
  <%= @experience_point.points %>
</p>

<p>
  <b>Student:</b>
  <%= @experience_point.student_id %>
</p>


<%= link_to 'Edit', edit_experience_point_path(@experience_point) %> |
<%= link_to 'Back', experience_points_path %>
