<p id="notice"><%= notice %></p>

<p>
  <b>Experience:</b>
  <%= @experience_point.experience.name %>
</p>

<p>
  <b>Student:</b>
  <%= @experience_point.student.full_name %>
</p>

<p>
  <b>Points:</b>
  <%= @experience_point.points %>
</p>

<p>
  <b>Last Updated:</b>
  <%= @experience_point.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %e, %l:%M %p") %>
</p>

<% if @experience_point.comment? %>
	<p>
	  <b>Comment:</b>
	  <%= @experience_point.comment %>
	</p>
<% end %>

<p>
  <b>Created By:</b>
  <%= @experience_point.user.full_name %>
</p>

<%if ["Teacher", "Teaching Assistant"].include?(current_user.role) || current_user.admin? %>
  <p>
    <%= link_to 'Edit', edit_experience_point_path(@experience_point), class: "btn btn-primary" %> <%= link_to 'Destroy', @experience_point, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </p>
<% end %>

<p>
  <%= render 'shared/nav_buttons' %>
</p>