<h1>Listing badge_modules</h1>

<table class="table table-striped table-sm table-bordered table-responsive">
  <tr>
    <th>Name</th>
    <th>Badge category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @badge_modules.each do |badge_module| %>
  <tr>
    <td><%= badge_module.name %></td>
    <td><%= badge_module.badge_category_id %></td>
    <td><%= link_to 'Show', badge_module %></td>
    <td><%= link_to 'Edit', edit_badge_module_path(badge_module) %></td>
    <td><%= link_to 'Destroy', badge_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge module', new_badge_module_path %>
