<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= simple_form_for(@note) do |f| %>
      <%= f.error_notification %>

      <%= f.association :user %>
      <%= f.input :lead_id %>
      <%= f.input :action_date, as: :string, input_html: { id: "datepicker" } %>
      <%= f.input :content, input_html: { rows: 3 } %>
      <%= f.input :completed %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
    <% end %>
  </div>
</div>
