<%= simple_form_for(@help_session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :user_id %>
    <%= f.input :learning_plan_id %>
    <%= f.input :comments %>
    <%= f.input :parent_feedback %>
    <%= f.input :student_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
