<% if @student.has_learning_plan && current_user.employee? %>
  <div class="lp_icon">
    <%= link_to @student.learning_plans.last do %>
      <%= image_tag "lp_icon.svg", size: "100" %>
    <% end %>
  </div>
<% end %>
<% if help_session.in_session? %>
  <%= link_to "End HW Help Session", help_sessions_end_hw_help_path, class: "btn btn-danger pull-right" %>
<% end %>
<h1>HW Help Session</h1>
<p>
  <strong>Student:</strong> <%= link_to @student.full_name, @student if @student %>
</p>
<p>
  <strong>Date:</strong> <%= help_session.date ? Date.parse(help_session.date).strftime("%D") : 'No Date Set' %>
</p>
<% unless @student.has_learning_plan %>
<p>
  <%= link_to "Create Learning Plan", "javascript:void(0)", class: "btn btn-primary", id: "launchLearningPlanModal" %>
</p>
<% end %>

<%= render 'learning_plan_modal', lp: @learning_plan, student: @student unless @student.has_learning_plan %>
