<%= simple_form_for(@offering) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.association :course, label_method: :course_name %>
    <%= f.association :location %>
    <%= f.input :day, collection: [ "Monday", "Tuesday", "Wednesday", "Thursday", "Saturday"] %>
    <%= f.input :time, :minute_step => 30, :ampm => true %>
    <%= f.input :classroom, collection: [ "A", "B", "C", "Euclid", "Archimedes", "Einstein"] %>
    <%= f.label :teachers %>
    <div class="studentofferings">
      <%= f.association :users, collection: User.where("role  = ? or role = ?", 'Teacher', 'Teaching Assistant').order('last_name asc'), as: :check_boxes, label_method: :full_name, label: false %>
    </div><br />
    <%= f.input :graduation_year %>
    <%= f.input :comments %>
    <%= f.input :active, as: :boolean %>
    <%= f.button :submit, class: "m-btn green" %>
  </div>
<% end %>
