<% title "Classes" %>

<h1><%= yield(:title)%></h1>

<table id="offerings" class="display">
    <thead>
      <tr>
        <th>Course</th>
        <th>Location</th>
        <th>Day</th>
        <th>Time</th>
        <th>User</th>
        <th># Students</th>
        <th>Open Spots</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @offerings.each do |offering| %>
          <tr>
            <td><%= link_to offering.course.course_name, offering.course %></td>
            <td><%= link_to offering.location.name, offering.location %></td>
            <td><%= offering.day %></td>
            <td><%= offering.time.strftime("%I:%M %p") %></td>
            <td><%= link_to offering.user.full_name, offering.user %></td>
            <td><%= offering.students.count %></td>
            <td><%= 12 - offering.students.count %></td>
            <td><%= link_to 'Show', offering %></td>
            <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
            <td><%= link_to 'Destroy', offering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>
<br />

<%= link_to 'New Class', new_offering_path, class: "btn btn-success" %>
<br />