<% title "Classes" %>

<h1><%= yield(:title)%></h1>

<p>
  <%= link_to 'New Class', new_offering_path, class: "m-btn green" %>
</p>
<p>
  Download:
  <%= link_to "CSV", offerings_path(format: "csv") %>
</p>

<table id="offerings" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Course</th>
        <th>Location</th>
        <th>Day</th>
        <th>Time</th>
        <th>Classroom</th>
        <th>Teachers</th>
        <th># Students</th>
        <th>Open Spots</th>
        <th>Active</th>
        <th></th>
        <% if signed_in? && current_user.try(:admin?) %>
              <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <% @offerings.each do |offering| %>
          <tr>
            <td><%= offering.id %></td>
            <td><%= link_to offering.course.course_name, offering.course, :target => "_blank" if offering.course %></td>
            <td><%= link_to offering.location.name, offering.location, :target => "_blank" %></td>
            <td><%= offering.day %></td>
            <td><%= offering.time.strftime("%I:%M %p") %></td>
            <td>
              <% if offering.classroom %>
                <%= offering.classroom %>
              <% else %>
                <em> No classroom assigned. </em>
              <% end %>
            </td>
            <td>
              <% if offering.users.any? %>
                <% offering.users.each do |user| %>
                  <p><%= user.role %> - <%= user.full_name %></p>
                <% end %>
              <% else %>
                <em>No teachers assigned.</em>
              <% end %>
            </td>
            <td><%= offering.active_students_count + offering.returning_students_count %></td>
            <td><%= open_spots offering %></td>
            <td><%= offering.active %></td>
            <td><%= link_to 'Show', offering, :target => "_blank" %></td>
            <% if signed_in? && current_user.try(:admin?) %>
              <td><%= link_to 'Edit', edit_offering_path(offering), :target => "_blank" %></td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
</table>
<br />

<% if signed_in? && current_user.try(:admin?) %>
<h3> Import Classes</h3>
  <%= form_tag import_offerings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>