<p id="notice"><%= notice %></p>

<div class="row offering-info">
    <h2><%= @offering.offering_name %></h2>
    <h3>Teacher: <%= @offering.user.full_name %></h3>
  <%= link_to 'Edit', edit_offering_path(@offering) %> |
  <%= link_to 'Back', offerings_path %>
</div>

<br />
<div class="row">
  <%= render 'offerings/roster' %>
</span>



