<p id="notice"><%= notice %></p>

<div class="row">
  <div class="well well-small">
    <h2><%= @offering.offering_name %></h2>
  <%= link_to 'Edit', edit_offering_path(@offering) %> |
  <%= link_to 'Back', offerings_path %>
  </div>
</div>

<br />
<div class="row">
  <%= render 'offerings/roster' %>
</span>

<h2>Class Grades</h2>
  <div class="tscroll">
      <table id="example" class="display">
          <thead>
            <tr>
              <th>Name/Week</th>
                <% @offering.course.lessons.each do |lesson| %>
                 <th><%= lesson.week %></th>
                <% end %>
            </tr>
          </thead>
          <tbody>
              <% @offering.students.each do |student| %>
                <tr>
                  <td class="name"> <%= student.full_name %></td>
                  <% student.grades.each do |grade| %>
                  <td><%= grade.score%></td>
                  <% end %>
                <% end %>  
                </tr>
              
          </tbody>
      </table>
  </div>

