<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @offering.course_id %>
</p>

<p>
  <b>Location:</b>
  <%= @offering.location_id %>
</p>

<p>
  <b>Day:</b>
  <%= @offering.day %>
</p>

<p>
  <b>Time:</b>
  <%= @offering.time %>
</p>

<p>
  <b>User:</b>
  <%= @offering.user_id %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @offering.graduation_year %>
</p>

<p>
  <b>Comments:</b>
  <%= @offering.comments %>
</p>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
