<div class="row offering-info">
    <h2><%= @offering.offering_name %></h2>
   <h3>
    Teachers:
      <% if @offering.users.any? %>
        <% @offering.users.each do |teacher| %>
          <%= teacher.full_name %>
        <% end %>
        <% else %>
          <em> no teachers assigned</em>
      <% end %></h3>
  <% if current_user.employee? %>
    <%= link_to 'Edit', edit_offering_path(@offering) %> |
  <% end %>
  <%= link_to 'Back', offerings_path %>
</div>

<% if current_user.employee?%>
  <br />
  <div class="row">
    <%= render 'offerings/roster' %>
  </span>
<% end %>



