<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(@assignment) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs ">
        <%= f.association :student, label_method: :full_name, input_html: { class: "chosen" } unless params[:student_id] %>
        <%= f.association :student, label_method: :full_name, input_html: { class: "chosen" }, selected: params[:student_id] if params[:student_id] %>
        <%= f.input :score, as: :select, collection: Assignment::SCORES.zip((0..2).to_a) %>
        <%= f.input :week, collection: (1..48).to_a, input_html: { class: "chosen" } unless class_session.in_session? %>
        <%= f.input :week, collection: (1..48).to_a, input_html: { class: "chosen" }, selected: (class_session.week.to_i - 1) if class_session.in_session? && !Assignment.completed?(params[:student_id], class_session.week) %>
        <%= f.input :week, collection: (1..48).to_a, input_html: { class: "chosen" } if class_session.in_session? && Assignment.completed?(params[:student_id], class_session.week) %>
        <%= f.association :offering, label_method: :offering_name, input_html: { class: "chosen" }, selected: class_session.offering if class_session.in_session? %>
        <%= f.association :offering, label_method: :offering_name, input_html: { class: "chosen" } unless class_session.in_session? %>

        <%= f.input :comment, input_html: {rows: 5} %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :corrected %>
        <%= f.input :course_id, as: :hidden unless class_session.in_session? %>
        <%= f.input :course_id, as: :hidden, input_html: { value: Offering.find(class_session.offering).course_id } if class_session.in_session? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-lg btn-success" %>
      </div>
    <% end %>
  </div>
</div>
