<ul>
  <% occupation.occupation_levels.order(:level).each do |level|  %>
  <li class="well">
    <% if level.level.to_i <= @student.current_level_by_occupation(occupation.title.downcase).to_i + 1 %>
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag(level.image_url, size: "100x100") if level.image? %>
        </div>
        <div class="col-lg-2">
          <% if level.level.to_i == @student.current_level_by_occupation(occupation.title.downcase).to_i %>
            <i style="color:#e7e63a;margin-top:25px;" class="fa fa-star fa-3x"></i>
          <% else %>
            <i style="margin-top:25px;" class="fa fa-star fa-3x"></i>
          <% end %>
        </div>
        <div class="col-lg-7">
          <h1 style="margin:5px 0 5px 0;">Level <%= level.level %></h1>
          XP: <%= level.points %></br>
          <b>Reward:</b> <%= level.rewards %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-lg-3">
          <%= image_tag(level.image_url, size: "100x100", class: "blur") if level.image? %>
        </div>
        <div class="col-lg-2">
          <i style="margin-top:25px;" class="fa fa-star fa-3x"></i>
        </div>
        <div class="col-lg-7">
          <h1 style="margin:5px 0 5px 0;">Level <%= level.level %></h1>
          <h2 style="color:red;">Locked</h2>
          <p>You must level up to see whats in store for the next level...</p>
        </div>
      </div>
    <% end %>
  </li>
  <% end %>
</ul>