<%= simple_form_for(@issue) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <%= f.input :name, placeholder: "Clever name to describe issue." %>
      <%= f.input :summary, input_html: { rows: 5 }, placeholder: "Brief description of the issue." %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <% if current_user.admin? %>
        <%= f.association :user, label_method: :full_name, collection: User.employees, input_html: { class: "chosen" } %>
      <% else %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <% end %>
      <%= f.input :priority, as: :select, collection: Issue::PRIORITY_LEVELS.zip((0..2).to_a) %>
      <% if current_user.admin? %>
        <%= f.input :status, as: :select, collection: Issue::STATUS_LEVELS.zip((0..4).to_a) %>
      <% else %>
        <%= f.input :status, as: :hidden, collection: Issue::STATUS_LEVELS.zip((0..4).to_a) %>
      <% end %>
      <%= f.input :resolved if current_user.admin? %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
    </div>
  </div>
<% end %>
