<center>
  <h3>How many credits are you spending?</h3>
  <%= simple_form_for :credits, url: 'update_credits', html: { id: 'credits_form'}, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.input :credits, label: false %>
  <%= f.input :id, as: :hidden, :input_html => { value: @student.id } %>
  <%= f.button :submit, "Spend Credits", class: "m-btn" %>
  <% end %>
  <br>
</center>