<%= simple_form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birth_date, as: :string %>
    <%= f.input :start_date, as: :string %>
<!--     <%= f.input :birth_date, as: :date, start_year: Date.today.year - 20,
                              end_year: Date.today.year + 0,
                              order: [:month, :day, :year] %><br />
    <%= f.input :start_date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 0,
                              order: [:month, :day, :year] %><br />
 -->
    <%= f.association :offerings, label_method: :offering_name %><br />
    <%= f.association :user, label: 'Parent', label_method: :full_name %><br />
    <%= f.input :xp_total, label: 'Total XP' %><br />
    <%= f.input :credits %><br />
    <%= f.input :rank, collection: ["Classified", "Confidential", "Secret", "Top Secret"]  %><br />
    <%= f.button :submit %>
<% end %>


<!--  <%= image_submit_tag("acheivement5.png") %> -->