<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <%= simple_form_for @student do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :birth_date, as: :string, label: "Birth Date" %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= f.association :user, collection: User.where(:role => "Parent").order('last_name asc'), :selected => params[:user_id], label_method: :full_name if params[:user_id] %>
      <%= f.association :user, collection: User.where(:role => "Parent").order('last_name asc'), label_method: :full_name unless params[:user_id] %>
      <%= f.input :start_date, as: :string, label: "Start Date" %>
      <%= f.input :status, collection: ["Active","Hold","Inactive"], as: :hidden %>
      <%= f.input :credits, input_html: { val: 1 } %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h4><u>Only If Billing Is Restarting</u></h4>
      <%=
        f.input :start_hold_date, as: :string, placeholder: "Date the student will go on hold.",
        label: "Date to Start Hold", input_html: { data: { toggle: "tooltip", placement: "top" }, title: "This reserves the date when the student will go on hold. ONLY add this date if student's billing is restarting. Otherwise, select an END DATE and POSSIBLE RETURN DATE."  }
      %>
      <%=
        f.input :restart_date, as: :string, placeholder: "Date for billing to restart.",
        label: "Restart Date", input_html: { data: { toggle: "tooltip", placement: "top" }, title: "This date holds student's place in class and restarts billing on this date. If unsure of restart DO NOT enter a date here, select an END DATE and POSSIBLE RETURN DATE."  }
      %>
      <hr>
      <h4><u>If Billing Is NOT Restarting</u></h4>
      <%= f.input :end_date, as: :string %>
      <%= f.input :return_date, as: :string, label: "Possible Return Date", placeholder: "Tentative return date." %>
  </div>
</div>
<div class="row">
  <%= f.association :offerings, collection: Offering.includes(:course, :location).all(order: 'course_id'), label_method: :offering_name, item_wrapper_class: 'inline', :input_html => { :class => 'col-lg-12 col-sm-12 col-sm-12 col-xs-12' } %>
<div class="row">
</div>
  <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
</div>
<% end %>
