<% if params[:user_id] %>
  <%= simple_form_for @student, :validate => true do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.association :user, collection: User.where(:role => "Parent").order('last_name asc'), :selected => params[:user_id], label_method: :full_name %>
      <%= f.input :start_date, as: :string %>
      <%= f.input :status, collection: ["Active","Hold","Inactive"] %>
      <# if @student.hold_status || @student.hold_status == "" %>
        <# f.input :hold_status, collection: Student::HOLD_STATUSES.zip((0..3).to_a), input_html: { style: "display:block;" }, label_html: { style: "display:block;" } %>
      <# else %>
        <# f.input :hold_status, collection: Student::HOLD_STATUSES.zip((0..3).to_a), input_html: { style: "display:none;" }, label_html: { style: "display:none;" } %>
      <# end %>
      <%= f.input :restart_date, as: :string, placeholder: "Only if billing restarts." %>
      <%= f.input :return_date, as: :string, placeholder: "Tentative return date." %>
      <%= f.label :offerings %>
      <div class="studentofferings">
        <%= f.association :offerings, collection: Offering.all(order: 'course_id'), as: :check_boxes, label_method: :offering_name, label: false %>
      </div><br />
      <%= f.input :credits %><br />
      <%= f.input :rank, collection: ["Classified", "Confidential", "Secret", "Top Secret"]  %><br />
      <%= f.input :birth_date, as: :string %>
      <%= f.input :end_date, as: :string %>
      <%= f.button :submit, class: "m-btn" %>
  <% end %>
<% else %>
  <%= simple_form_for @student, :validate => true do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.association :user, collection: User.where(:role => "Parent").order('last_name asc'), label_method: :full_name %>
      <%= f.input :start_date, as: :string %>
      <%= f.input :status, collection: ["Active","Hold","Inactive"] %>
      <% if @student.hold_status || @student.hold_status == "" %>
        <%= f.input :hold_status, collection: Student::HOLD_STATUSES.zip((0..3).to_a), input_html: { style: "display:block;" }, label_html: { style: "display:block;" } %>
      <% else %>
        <%= f.input :hold_status, collection: Student::HOLD_STATUSES.zip((0..3).to_a), input_html: { style: "display:none;" }, label_html: { style: "display:none;" } %>
      <% end %>
      <%= f.input :restart_date, as: :string, placeholder: "Only if billing restarts." %>
      <%= f.input :return_date, as: :string, placeholder: "Tentative return date." %>
      <%= f.label :offerings %>
      <div class="studentofferings">
        <%= f.association :offerings, collection: Offering.all(order: 'course_id'), as: :check_boxes, label_method: :offering_name, label: false %>
      </div><br />
      <%= f.input :credits %><br />
      <%= f.input :rank, collection: ["Classified", "Confidential", "Secret", "Top Secret"]  %><br />
      <%= f.input :birth_date, as: :string %>
      <%= f.input :end_date, as: :string %>
      <%= f.button :submit, class: "m-btn" %>
  <% end %>
<% end %>
