<%= simple_form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.association :user, collection: User.where(:role => "Parent").order('last_name asc'), label_method: :full_name %>
    <%= f.input :birth_date, as: :string %>
    <%= f.input :start_date, as: :string %>
    <%= f.label :offerings %>
    <div class="studentofferings">
      <%= f.association :offerings, collection: Offering.all(order: 'course_id'), as: :check_boxes, label_method: :offering_name, label: false %>
    </div><br />
    <%= f.input :credits %><br />
    <%= f.input :rank, collection: ["Classified", "Confidential", "Secret", "Top Secret"]  %><br />
    <%= f.input :active %>
    <%= f.button :submit %>
<% end %>


<!--  <%= image_submit_tag("acheivement5.png") %> -->