<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
<div class="text-center well well-sm" style="position:relative; z-index:2; margin:0;">
  <h3 style="margin-bottom:20px;"> <%= occupation.capitalize %> </h3>
    <input
      disabled
      id="<%= occupation %>-dial" class="outside"
      value="<%= @student.percentage_of_level_completed(occupation.capitalize) %>"
      data-level="<%= @student.current_level_by_occupation(occupation) %>"
      data-displayInput="false"
    >
    <%= image_tag(@student.current_level_obj(occupation.capitalize).image, size: "115x115", class: "inside")%>
  <h3 style="margin:10px 0 10px 0;">
    <%= @student.xp_sum_by_occupation(occupation.capitalize)%>xp
  </h3>
  <p style="margin:0;">
    <%= link_to("##{occupation}Modal", data: {toggle: :modal}) do %>
     Can You Level Up?
    <% end %>
  </p>
</div><!--/.text-center col-lg-3 col-md-3 col-sm-12 col-xs-12 -->
</div>