<div class="modal fade" id="registrationDropModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="newStudentUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Drop Class</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= simple_form_for :registration, url: url_for(action: 'drop', controller: 'registrations'), method: 'get' do |f| %>
              <%= f.input :student_id, as: :hidden, input_html: { value: @student.id } %>
              <%= f.input :drop_reason, collection: Registration::DROP_REASONS.zip((0..3).to_a) %>
              <%= f.input :id, as: :hidden %>
              <%= f.input :end_date, as: :string,  input_html: { class: "datepicker" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
              <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cancel</button>
              <%= f.submit "Submit", class: "btn btn-lg btn-success", confirm: "This will end the current registration and create a new registration for the selected class. This registration will end on the specified date and a new one will begin on the same date." %>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
