<% if @student.in_robotics_class? %>

<h3>Robotics Achievements</h3>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Robotics Acheivements:
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="tscroll r-achievements">
         <% @robotics_achievements.each do |achievement| %>
           <p>
               <% if achievement.completed  && achievement.completed == [true] %>
                 <%= link_to achievement.name, achievement %> | <FONT COLOR="#17ce00"> + <%= achievement.points %> points (Completed)</FONT>
                 <% else %>
                 <%= link_to achievement.name, achievement %> | <FONT COLOR="#c30202">(Incomplete)</FONT>
               <% end %>
           </p>
         <% end %>

         <% @student_xps.each do |xp| %>
           <% if [15].include?(xp.experience_id) %>
             Level 1 Upgrades:
             <ul>
               <li>
                 <%= link_to 'Shovel Modification', "https://s3.amazonaws.com/RoboticsLab/TheShovel.mov" %>
               </li>
               <li>
                 <%= link_to 'Str8ter', "https://s3.amazonaws.com/RoboticsLab/Str8er.mov" %>
               </li>
             </ul>
           <% end %>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>