<div class"row">
	<p>
	  <div class="pull-right"><%= @student.id %></div>
	  <h2><%= @student.full_name %> </h2> 
	</p>
</div>
<h2>Total XP: <%= @student.experience_points.sum(:points) %></h2>
<p>
  <h3>Current level: <em>Classified</em></h3>
</p>

<center>
  <div class="progress progress-striped center span6">
    <div class="bar" style="width:<%= ((@student.experience_points.sum(:points).to_f)/(1000)*100).round %>%;"><%= ((@student.experience_points.sum(:points).to_f)/(1000)*100).round %>%</div> Next level: <em>Confidential</em>   
  </div>
</center> 
