<div id="student">
  <div class="studentinfo">
    <div class="row-fluid">
      <div class="span3 studentname hidden-phone">
        <h2><%= @student.full_name %></h2>
        <div id="totalCredits" data-totalCredits="<%= @student.credits %>">
          <div class="circle-text">
            <div>
              <h4>Total Credits</h4>
              <h2><%= @student.credits %></h1>
            </div>
          </div>
        </div>
        <p>
          <div id="studentId" data-studentId="<%= @student.id %>">
            <h3>ID: <%= @student.id %></h3>
          </div>
        </p>
        <%if current_user.employee? %>
        <p>
          <b>Parent:</b>
          <%= link_to @student.parent_name, @student.user %>
        </p>
        <% end %>
      </div>
      <div class="span3 hidden-desktop hidden-tablet" style="text-align:center;">
        <h2><%= @student.full_name %></h2>
        <div id="totalCredits" data-totalCredits="<%= @student.credits %>">
          <div class="circle-text">
            <div>
              <h4>Total Credits</h4>
              <h2><%= @student.credits %></h1>
            </div>
          </div>
        </div>
        <p>
          <div id="studentId" data-studentId="<%= @student.id %>">
            <h3>ID: <%= @student.id %></h3>
          </div>
        </p>
        <%if current_user.employee? %>
        <p>
          <b>Parent:</b>
          <%= link_to @student.parent_name, @student.user %>
        </p>
        <% end %>
      </div>
      <div style="text-align:center;" class="span9">
        <% if @student.in_math_class? %>
          <div style="text-align:center;" class="pull-left">
            <h2>Math</h2>
            <input disabled value="5" class="math-dial">
            <p>Math XP: </p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <% if @student.in_robotics_class? %>
          <div style="text-align:center;padding-left:15px;" class="pull-left">
            <h2>Robotics</h2>
            <input disabled value="5" class="robotics-dial">
            <p>Robotics XP: </p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <% if @student.in_engineering_class? %>
          <div style="text-align:center;padding-left:15px;" class="pull-left">
            <h2>Engineering</h2>
            <input disabled value="5" class="engineering-dial">
            <p>Engineering XP: </p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <% if @student.in_programming_class? %>
          <div style="text-align:center;padding-left:15px;" class="pull-left">
            <h2>Programming</h2>
            <input disabled value="5" class="dial">
            <p>Programming XP: </p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <% if @student.in_e_math_team_class? %>
          <div style="text-align:center;padding-left:15px;" class="pull-left">
            <h2>Math Team</h2>
            <input disabled value="5" class="dial">
            <p>Math Team XP: </p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <% if @student.in_m_math_team_class? %>
          <div style="text-align:center;padding-left:15px;" class="pull-right">
            <h2>Math Team</h2>
            <input disabled value="5" class="dial">
            <p>Math Team XP: </p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <%= render 'student_toolbar' %>
      </div>
    </div>
  </div>
</div>