
<div class="studentname row span11">
  <div class="span4">
	  <h2><%= @student.full_name %></h2>
  <p>
    <h3>ID: <%= @student.id %></h3>
  </p>
	<p>
	  <h3>Total XP: <%= @student.xp_total %></h3>
	</p>
	<p>
	  <h3>Total Credits: <%= @student.credits %></h3>
	  <%if ["Teacher", "Teaching Assistant", "Director"].include?(current_user.role) %>

	  <% end %>
	</p>
      <p>
	    <b>Parent:</b>
	    <%= link_to @student.parent_name, @student.user %>
      </p>
  </div>

  <div class="pull-right rank">
	<p>
	  <h3>Current level: <em><%= @student.rank %> </em></h3>
	</p>
	<div class="progress progress-striped active center span6">
	  <center>
	    <div class="bar" style="width:<%= ((@student.xp_total.to_f - @student.rank_points)/(1000)*100).round %>%"><%= ((@student.xp_sum.to_f - @student.rank_points)/(1000)*100).round %>%</div>
	    </div>
	  </center>
	<p>Next Level: <em><%= @student.next_rank %></em></p>
  <%= render 'student_toolbar' %>
  </div>
</div>
