<% if @student_xp_comments.empty? %>

<% else %>
  <h3>Recent Comments</h3>
  <div class="activity_feed">
    <div id="inner-content-div">
     <% @student_xp_comments.each do |xp|%>
     <% if xp.negative? %>
       <p style="color:red;">
        <em><%= xp.experience.name %></em>
        <b>"<%= xp.comment %>"</b>
        by: <%= xp.user.full_name %>
        <%= time_ago_in_words(xp.updated_at) %> ago
       </p>
     <% else%>
       <p>
        <em><%= xp.experience.name %></em>
        <b>"<%= xp.comment %>"</b>
        by: <%= xp.user.full_name %>
        <%= time_ago_in_words(xp.updated_at) %> ago
       </p>
     <% end %>
     <% end %>
    </div>
  </div>
<% end %>