<div class="student-occupations col-lg-9 col-md-12 col-sm-12 col-xs-12">

    <!-- Mathematics student information -->
    <% if @student.is_mathematician? %>
      <%= render 'occupation_stats', occupation: "mathematician" %>
    <% end %>

    <!-- Engineering student information -->
    <% if @student.is_engineer? %>
      <%= render 'occupation_stats', occupation: "engineer" %>
    <% end %>

    <!-- Programming student information -->
    <% if @student.is_programmer? %>
      <%= render 'occupation_stats', occupation: "programmer" %>
    <% end %>

    <% if @student.occupations.uniq.count == 0 %>
      <div style="position:relative; z-index:2;" class="text-center col-lg-9 col-md-12 col-sm-12 col-xs-12">
      </div>
    <% end %>

    <% if @student.occupations.uniq.count == 1 %>
      <div style="position:relative; z-index:2;" class="text-center col-lg-6 col-md-12 col-sm-12 col-xs-12m">
      </div>
    <% end %>

    <% if @student.occupations.uniq.count == 2 %>
      <div style="position:relative; z-index:2;" class="text-center col-lg-3 col-md-12 col-sm-12 col-xs-12">
      </div>
    <% end %>

    <div class="text-center hidden-sm hidden-xs hidden-md col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
      <div class="well well-sm" style='margin:0;'>
        <h3 style="margin:0 0 10px;">Badge Count</h3>
        <div class="text-center">
          <h1 style='font-size:10em;margin:15px 0 56px 0;'><%= @student.badges.count %></h1>
        </div>
        <%= link_to "Find out how to earn more.", badge_home_path  %>
      </div>
    </div>

</div>
