<%# render 'student_status' %>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3 style="display:inline;">Classes:</h3><%= link_to "Add Class", new_registration_url(id: @student.id), class: "btn btn-xs btn-success pull-right" %>
		<hr>
		<% @student.registrations.includes(:offering, :course, :location).where(status: 0..2).each do |reg| %>
		    <%= render 'student_registration_card', reg: reg, student: @student %>
		<% end %>
	</div>
</div>
<hr>
<% if current_user && current_user.employee? %>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3 style="display:inline;">Opportunities:</h3><%= link_to "New Opportunity", new_opportunity_path, class: "btn btn-xs btn-success pull-right" %>

			<hr>

			<% @student_opportunities.where(status: 0..6).each do |opp| %>
				<div class="well well-sm" style="padding:0 0 0 0;">
		    	<div style="padding:5px 10px 0 10px;">
				    <div class="row">
					    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			    			<%= link_to opp.offering.offering_name, opp.offering if opp.offering %>
			    			<%= opp.title unless opp.offering %>
				 			</div>
				 		</div>
				    <div class="row">
					 		<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
					    	<div class="text-left" style="margin-bottom:7px;">
			 						<%= opportunity_status(opp).html_safe %>
			 					</div>
				 		  </div>
					    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
					    	<div class="text-center">

				 				</div>
				 		  </div>
					    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
					    	<div class="text-right" style="position:relative;">
					    		<%= link_to "javascript:void(0)", class: "opportunity_info_toggle", style: "position:relative;bottom:0;" do %>
					          <i class="fa fa-chevron-down fa-1x"	></i>
					        <% end %>
				 				</div>
				 		  </div>
			 		  </div>
				 	</div>
			 		<div class="opportunity_info">
			 		  <div class="row">
					 		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
						    <div class='text-center' style="margin-left:5px;">
						    	<div class="btn-group btn-group-md">
						    		<%= link_to "View", opp, class: "btn btn-default" %>
								  	<button type="button" class="btn btn-success">Add to Class</button>
								  	<button type="button" class="btn btn-danger">Drop</button>
									</div>
					 		  </div>
				 		  </div>
			 		  </div>
		 		  </div>
		 		</div>
			<% end %>
		</div>
	</div>
<% end %>