<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= simple_form_for [@student, Note.new], remote: true do |f| %>
      <%= f.input :content, input_html: { rows: 4, style: "width:100%;" } %>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <%= f.input :action_date, as: :string, input_html: { class: :datepicker, data: { toggle: "tooltip", placement: "top" }, title: "Leave blank unless you want to be reminded on a specific date." } %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <%= f.association :location, label_method: :name, input_html: { data: { toggle: "tooltip", placement: "top" }, title: "Leave blank unless you want note brocast to all admins at specified location." } %>
        </div>
      </div>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.button :submit, class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div id="student_notes" class="notes">
      <%= render 'students_notes' %>
    </div>
  </div>
</div>