<div class="row-fuild">
  <%= simple_form_for [@student, Note.new], remote: true do |f| %>
    <%= f.input :content, label: "Add note...", input_html: { style: "width:auto;", rows: 4 } %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.button :submit, class: "m-btn note-button green" %>
  <% end %>
  <div id="student_note">
    <%= render 'students_notes' %>
  </div>
</div>