<div class="hidden-sm hidden-xs hidden-md">
  <%if current_user.employee? %>
    <div class="btn-group btn-group-justified">
      <%= link_to "Redeem Credits", "#creditsModal", data: { toggle: :modal }, class: "btn btn-default student_tool_button"%>
      <%= link_to "Award Badge", new_badge_request_path(student_id: @student.id), class: "btn btn-default student_tool_button" %>
      <%= link_to "Add Achievement", { :controller => "experience_points", :action => "new", :student => @student.id }, { :class => "btn btn-default student_tool_button" } %>
      <%= link_to "Add Assignment", new_assignment_path(student_id: @student.id),class: "btn btn-default student_tool_button" %>
      <%= link_to "Add Attendance", new_attendance_path(attendance: {student_id: @student.id}), class: "btn btn-default student_tool_button" %>
    </div>
  <% end %>
</div>
<div class="hidden-lg col-md-12 col-sm-12 col-xs-12">
  <ul class="nav list-inline">
    <%if current_user.employee? %>
      <li>
        <%= link_to "Add Assignment", new_assignment_path(student_id: @student.id),class: "btn btn-default student_tool_button" %>
      </li>
      <li>
        <%= link_to "Redeem Credits", "#creditsModal", data: {toggle: :modal}, class: "btn btn-default student_tool_button"%>
      </li>
      <li>
        <%= link_to "Add Achievement", { :controller => "experience_points", :action => "new", :student => @student.id }, { :class => "btn btn-default student_tool_button" } %>
      </li>
      <li>
        <%= link_to "Award Badge", new_badge_request_path(student_id: @student.id), class: "btn btn-default student_tool_button" %>
      </li>
      <li>
        <%= link_to "Add Attendance", new_attendance_path(student_id: @student.id), class: "btn btn-default student_tool_button" %>
      </li>
    <% end %>
  </ul>
</div>
