<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 studentname ">
  <h2><%= @student.full_name %></h2>
  <div style="width:100%;" class="text-center">
    <%= image_tag("girl-avatar.png", size: "175x175") %>
  </div>
  <div id="totalCredits" data-totalCredits="<%= @student.credits %>">
    <h3>Credits: <%= @student.credits %></h3>
  </div><!--/#totalCredits -->
  <% if current_user.employee? %>

    <div id="studentId" data-studentId="<%= @student.id %>">
      <h3>ID: <%= @student.id %></h3>
    </div><!--/.<%= @student.id %> -->

    <p>
      <b>Parent:</b>
      <%= link_to @student.parent_name, @student.user %> (<%= mail_to @student.user.email, @student.user.email, target: "_blank" %>)
    </p>
 <% else %>
    <div style="min-width:260px;min-height:40px;" class="hidden-md hidden-sm hidden-xs"></div>
 <% end %>
</div><!--/.col-lg-3 col-md-12 col-sm-12 col-xs-12 studentname hidden-sm hidden-xs -->
