<div id="student">
  <div class="studentinfo">
    <div class="row-fluid">
      <div class="span3 studentname hidden-phone">
        <h2><%= @student.full_name %></h2>
        <div id="totalCredits" data-totalCredits="<%= @student.credits %>">
          <div class="circle-text">
            <div>
              <h1 style="float:center;">Credits</h1>
              <h2><%= @student.credits %></h2>
            </div>
          </div>
        </div>
        <% if current_user.employee? %>
          <p>
            <div id="studentId" data-studentId="<%= @student.id %>">
              <h3>ID: <%= @student.id %></h3>
            </div>
          </p>
          <p>
            <b>Parent:</b>
            <%= link_to @student.parent_name, @student.user %>
          </p>
       <% else %>
          <div style="min-width:260px;min-height:40px;" class="hidden-phone hidden-tablet"></div>
       <% end %>
      </div>
      <div class="span3 hidden-desktop hidden-tablet" style="text-align:center;">
        <h2><%= @student.full_name %></h2>
        <div id="totalCredits" data-totalCredits="<%= @student.credits %>">
          <div class="circle-text">
            <div>
              <h4>Total Credits</h4>
              <h2><%= @student.credits %></h1>
            </div>
          </div>
        </div>
        <% if current_user.employee? %>
        <p>
          <div id="studentId" data-studentId="<%= @student.id %>">
            <h3>ID: <%= @student.id %></h3>
          </div>
        </p>
        <p>
          <b>Parent:</b>
          <%= link_to @student.parent_name, @student.user %>
        </p>
        <% else %>
          <div style="min-width:260px;min-height:40px;" class="hidden-phone hidden-tablet"></div>
        <% end %>
      </div>
      <div style="text-align:center;" class="span9">
        <% if @student.is_mathematician? %>
          <div style="text-align:center;" class="pull-left">
            <h2>Mathematician</h2>
            <input disabled id="mathematician-dial" value="<%= @student.math_level %>" data-level="<%= @student.math_level %>">
            <p>XP: <%= @student.xp_sum_by_category("Mathematics")%></p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>
        <!-- Engineering student information -->
        <% if @student.is_engineer? %>
          <div style="text-align:center;padding-left:15px;" class="pull-left">
            <h2>Engineer</h2>
            <input disabled id="engineer-dial" value="<%= @student.eng_level %>" data-level="<%= @student.eng_level %>">
            <p>Robotics XP: </p>
            <p>Total: <%= @student.xp_sum_by_category("Engineering")%></p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>
        <!-- Programming student information -->
        <% if @student.is_programmer? %>
          <div style="text-align:center;padding-left:15px;" class="pull-left">
            <h2>Programmer</h2>
            <input disabled id="programmer-dial" value="<%= @student.prog_level %>" data-level="<%= @student.prog_level %>">
            <p>Programming XP: </p>
            <p>Total: <%= @student.xp_sum_by_category("Programming")%></p>
            <p>400xp to Level 100</p>
          </div>
        <% end %>

        <%= render 'student_toolbar' %>
      </div>
    </div>
  </div>
</div>
