<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 studentname ">
  <h2><%= @student.full_name %></h2>
  <div style="padding:0 25px 0 25px;">
    <div style="
      padding:20px 0 20px 0;
      margin:0 auto;
      width:218px;border-radius:50%;
      background-color:<%= @student.avatar_background_color %>;"
      class="text-center">
      <%= link_to("#addAvatarModal", data: { toggle: :modal } ) do %>
        <%= image_tag(@student.avatar.image_url, size: "175x175") %>
      <% end %>
    </div>
  </div>

  <div id="totalCredits" data-totalCredits="<%= @student.credits %>">
    <h3>Credits: <%= @student.credits %></h3>
  </div><!--/#totalCredits -->
  <% if current_user.employee? %>
    <div id="studentId" data-studentId="<%= @student.id %>">
    </div>

    <p>
      <b>Parent:</b>
      <%= link_to @student.parent_name, @student.user %> (<%= mail_to @student.user.email, @student.user.email, target: "_blank" %>)
    </p>
 <% else %>
    <div style="min-width:260px;min-height:40px;" class="hidden-md hidden-sm hidden-xs"></div>
 <% end %>
</div><!--/.col-lg-3 col-md-12 col-sm-12 col-xs-12 studentname hidden-sm hidden-xs -->
