<% if current_user.employee? %>
	<% if @student.status && @student.status == "Active" %>
		<p><%= @student.first_name %> is <%= student_status(@student).html_safe%></p>
	<% elsif @student.status && @student.status == "Hold" %>
		<p>
			<%= @student.first_name %> is on <%= student_status(@student).html_safe%>
		</p>
		<p>
			Return: <b><%= @student.restart_date.strftime("%a, %b %e, %Y") %></b>
		</p>
	<% else %>
		<p><%= @student.first_name %> is <%= student_status(@student).html_safe%></p>
	<% end %>
<% end %>

<h3>Classes:</h3>

<p>
	<% @student.offerings.includes(:course, :location).each do |offering| %>
	    <%= link_to offering.offering_name, offering %><br>
 			<%= offering_binder_cover(offering.course_id, offering.id, @student.id).html_safe %>
	    <hr>
	<% end %>
</p>
