<% title "Students" %>

<h1><%= yield(:title)%></h1>

<p><%= link_to 'New Student', new_student_path, class: "btn btn-success" %></p>


<table id="students" class="display">
    <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Birth date</th>
        <th>Start date</th>
        <th>Parent</th>
        <th></th>
        <% if current_user.admin? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.id %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.birth_date %></td>
            <td><%= student.start_date %></td>
            <td><%= link_to student.user.full_name, student.user %></td>
            <td><%= link_to 'Show', student %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_student_path(student) %></td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
</table>