<div class="row">
<%= render 'student_stats' %>
</div>

<p>
  <b>Offerings:</b><br />
  <% @student.offerings.each do |offering| %>
      <%= link_to offering.offering_name, offering %> <br />
  <% end %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to @student.user.full_name, @student.user %>
</p>

<%= render 'student_achievements' %>

<p>

</p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
