
<p>
  <h2><%= @student.full_name %></h2>
</p>

<p class="text-success">
  <h2>Total XP : <%= @student.experience_points.sum(:points) %></h2>
</p>

<p>
<b>ID:</b>
  <%= @student.id %>
</p>

<p>
  <b>Birth date:</b>
  <%= @student.birth_date %>
</p>

<p>
  <b>Start date:</b>
  <%= @student.start_date %>
</p>

<p>
  <b>Offerings:</b><br />
  <% @student.offerings.each do |offering| %>
      <%= link_to offering.offering_name, offering %> <br />
  <% end %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to @student.user.full_name, @student.user %>
</p>

<!-- displays grades for student -->
<div class="tscroll well well-small">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Experience</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
          <% @student.experience_points.each do |xp| %>
          <tr>
            <td><%= xp.experience.name %></td>
            <td><%= xp.points %></td>
          </tr>
          <% end %>
      </tbody>
  </table>
</div>
<p>

</p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
