
<%= render 'student_toolbar' %>

<div class="row">
  <%= render 'student_stats' %>
</div>

<div class="row rank">
  <div class="span3">
    <%= render 'student_class_list' %><br />
    <p>
      <%= render 'shared/nav_buttons' %>
    </p>
  </div>

  <div class="span8 achievements">
    <%= render 'student_achievements' %>
  </div>
</div>
<span class="row">
    <%= render 'student_comment_feed'%>
</span>

<% @student.offerings.each do |offering| %>
  <%= offering.course.id %>
<% end %>
<!--  <%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
 -->