<p id="notice"><%= notice %></p>
  <b>ID:</b>
  <%= @student.id %>
</p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @student.birth_date %>
</p>

<p>
  <b>Start date:</b>
  <%= @student.start_date %>
</p>

<p>
  <b>Offerings:</b><br />
  <% @student.offerings.each do |offering| %>
      <%= link_to offering.offering_name, offering %> <br />
  <% end %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to @student.user.full_name, @student.user %>
</p>

<!-- displays grades for student -->
<div class="tscroll well well-small">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Lessons</th>
          <% @student.lessons.each do |lesson| %>
           <td><%= lesson.name %></td>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th> Grades </th>
        <% @student.grades.each do |grade| %>
          <td><%= grade.score %></td>
        <% end %>
      </tr>
    </tbody>
</table>
</div>



<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
