<div class="row">
  <%= render 'student_stats' %>
</div>

<div class="row rank">
  <div class="span3">
    <%= render 'student_class_list' %>
<br />
    <p>
      <%= render 'shared/nav_buttons' %>
    </p>
  </div>
  
  <div class="span8 achievements">
    <%= render 'student_achievements' %>
    
    <%if ["Teacher", "Teaching Assistant", "Admin"].include?(current_user.role) %>
  	  <p>
        <%= link_to "Add Achievement", { :controller => "experience_points", :action => "new", :student => @student.id }, { :class => "btn-custom btn" } %>
      </p>
    <% end %>
  </div>
</div>

<% @student.locations.each do |location| %>
  <%= location.name %>
<% end %>

<!--  <%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
 -->