<div class="row">
  <%= render 'student_stats' %>
</div>

<div class="row paddingtop15">
  <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 class_list">
    <%= render 'student_class_list' %>
  </div>

  <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 achievements">
    <div class="row">
      <%= render 'student_toolbar' %>
    </div>
    <%= render 'student_achievements' %><br>
    <%= render 'robotics_achievements' %><br>
    <%= render 'student_comment_feed'%>
  </div>

</div>
<% unless current_user.parent? %>
  <hr>
<% end %>

<%= render 'student_notes' if current_user.employee? %>

<%= render '/static_pages/grades_modal' %>

<%= render 'credits_modal' %>

<%= render 'occupation_modals' %>

<%= render 'registration_switch_modal' %>

<%= render 'registration_drop_modal' %>

<%= render 'registration_hold_modal' %>

<%= render 'add_to_class_modal' %>

<%= render 'add_avatar_modal', student: @student if current_user.employee? || current_user == @student.user %>