<div class="row-fluid">
  <%= render 'student_stats' %>
</div>

<div class="row paddingtop15">
  <div class="span3">
    <%= render 'student_class_list' %><br />
    <p>
      <%= render 'shared/nav_buttons' %>
    </p>
  </div>

  <div class="span8 achievements">
    <%= render 'student_achievements' %><br />
    <%= render 'robotics_achievements' %>
    <%= render 'student_grades' if current_user.admin? && @student.in_math_class? %>
  </div>
</div>
<span class="row">
  <%= render 'student_comment_feed'%>
</span>

<%= render '/static_pages/grades_modal' %>

<div id="creditsModal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Redeem Credits.</h3>
  </div>

  <div class="modal-body">
     <%= render 'credits_form' %>
 </div>
</div>
