<div class="row-fluid">
  <%= render 'student_stats' %>
</div>

<div class="row-fluid paddingtop15">
  <div class="span3 class_list">
    <%= render 'student_class_list' %><br />
    <p>
      <%= render 'shared/nav_buttons' %>
    </p>
  </div>

  <div class="span8 achievements">
    <%= render 'student_achievements' %><br />
    <%= render 'robotics_achievements' %>
    <%= render 'student_grades' if current_user.admin? && @student.is_mathematician? %>
  </div>
</div>
<span class="row">
  <%= render 'student_comment_feed'%>
</span>

<%= render 'student_notes' if current_user.employee? %>

<%= render '/static_pages/grades_modal' %>

<%= render 'credits_modal' %>
