
<div class="row">
  <%= render 'student_stats' %>
</div>

<div class="row rank">
  <div class="span3">
    <%= render 'student_class_list' %><br />
    <p>
      <%= render 'shared/nav_buttons' %>
    </p>
  </div>

  <div class="span8 achievements">
    <%= render 'student_achievements' %><br />
    <%= render 'robotics_achievements' %>
  </div>
</div>
<span class="row">
    <%= render 'student_comment_feed'%>
</span>

