<div class="row-fluid">
  <%= render 'student_stats' %>
</div>

<div class="row-fluid paddingtop15">
  <div class="span3 class_list">
    <%= render 'student_class_list' %><br />
    <p>
      <%= render 'shared/nav_buttons' %>
    </p>
  </div>

  <div class="span8 achievements">
    <%= render 'student_achievements' %><br />
    <%= render 'robotics_achievements' %>
    <%# render 'student_grades' if current_user.admin? && @student.is_mathematician? %>
  </div>
</div>
<span class="row">
  <%= render 'student_comment_feed'%>
</span>

<%= render 'student_notes' if current_user.employee? %>

<%= render '/static_pages/grades_modal' %>

<%= render 'credits_modal' %>

<% @occupations.each do |occupation| %>
  <div id="<%= occupation.title.downcase %>Modal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
     <%= render '/occupations/occupations_levels', occupation: occupation %>
  </div>
</div>
<% end %>
