<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 sol-xs-12">
<%= simple_form_for(@problem) do |f| %>
    <%= f.error_notification %>
    <%= f.input :activity_type, as: :hidden, :input_html => { :value => 'Problem' } %>
    <%= f.input :title, :input_html => { :rows => 8 } %>
    <%= f.input :desc, label: 'Question & Description', as: :text, :input_html => { :rows => 8 } %>
    <%= f.input :answer %>
    <%= f.input :methods, label: 'Solutions', as: :text, :input_html => { :rows => 4 } %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 sol-xs-12">
    <%= f.association :strategies, label_method: :name, as: :select, item_wrapper_class: 'inline', input_html: { class: "chosen" } %>
    <%= f.input :variations, as: :text, :input_html => { :rows => 4 } %>
    <%= f.association :lessons, label_method: :title, item_wrapper_class: 'inline' %>
    <%= f.association :courses, label_method: :course_name, as: :select, item_wrapper_class: 'inline', input_html: { class: "chosen" } %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 sol-xs-12">
    <%= f.association :standards, label_method: :name, item_wrapper_class: 'inline' %>
    <%= f.input :remove_image, as: :boolean, label: 'Remove Image' if @problem.image? %>
    <%= image_tag(@problem.image_url(:thumb)) if @problem.image? %>
    <% if !@problem.image? %>
    <%= f.input :image, as: :file, label: "Upload Image" %>
    <%= f.input :remote_image_url, label: "Or Copy Image from URL" %>
    <% end %>
    <%= f.association :resources, label_method: :filename, item_wrapper_class: 'inline' %>
    <%= f.input :source %>
    </div>
</div>
<div class="row">
    <%= f.button :submit, 'Create Problem', class: 'btn btn-success btn-lg pull-right' %>
<% end %>
</div>