<h1>Problems / Activities / Games</h1>

<% if signed_in? && current_user.employee? %>
  <p>
    <%= link_to 'New Problem', new_problem_path(type: 'problem'), class: 'btn btn-success' %>
    <%= link_to 'New Activity/Game', new_problem_path(type: 'activity'), class: 'btn btn-success' %>
  </p>
<% end %>

<table id="datatable" class="display">
<thead>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Strategies</th>
    <th>Classes</th>
    <th>Standards</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.title %></td>
    <td><% if problem.image_url %>
        <%= link_to image_tag(problem.image_url(:thumb)), problem.image.url %>
        <% end %>
    </td>
    <td>
        <% problem.strategies.each do |strategy| %>
        <%= strategy.name %><br />
        <% end %>
    </td>
    <td>
        <% problem.courses.each do |course| %>
          <%= course.name %><br />
        <% end %>
    </td>
    <td>
        <% problem.standards.each do |standard| %>
          <%= standard.name %><br />
        <% end %>
    </td>
    <td><%= problem.activity_type %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<% if signed_in? && current_user.try(:admin?) %>
  <%= render 'layouts/import_form.html.erb', resource: @problems %>
<% end %>
