<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= simple_form_for(@badge) do |f| %>
      <%= f.error_notification %>


      <%= f.input :name %>
      <%= f.association :category %>
      <%= f.input :requirements, input_html: { rows: 6, style: "resize:vertical;" } %>
      <%= f.input :write_up_required %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= f.association :category %>
      <%= f.input :submission_type, collection: Badge::SUBMISSION_TYPES.zip((0..1).to_a) %>
      <%= f.input :image, as: :file, label: "Upload Image" unless @badge.image? %>
      <div class="text-center">
        <%= image_tag(@badge.image_url, size: '200x200') if @badge.image? %>

        <%= f.input :remove_image, as: :boolean, label: 'Remove Image' if @badge.image? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
      </div>
    <% end %>
  </div>
</div>
