<h1>Listing badges</h1>

<div class="row">
  <div class="col-lg-12-col-md-12 col-sm-12 col-xs-12">
    <div class="well">
      <b>Drag and drop images or PDFs to add them to Resources</b>
      <%= form_for Badge.new do |f| %>
        <%= f.file_field :file, multiple: true, name: "badge[file]" %>
      <% end %>

      <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress"><div class="progress-bar" style="width: 0%"></div></div>
        </div>
      </script>

      <div id="uploads">
        <%= render @uploads if @uploads %>
      </div>
        <div style="clear:both;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12-col-md-12 col-sm-12 col-xs-12">
    <table id="datatable" class="display">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @badges.each do |badge| %>
          <tr>
            <td><%= badge.id %></td>
            <td><%= badge.name %></td>
            <td><%= badge.image %></td>
            <td><%= link_to 'Show', badge, target: "_blank" %></td>
            <td><%= link_to 'Edit', edit_badge_path(badge), target: "_blank" %></td>
            <td><%= link_to 'Destroy', badge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
