<h1>All Badges</h1>
<div class="row" style='margin-bottom:20px;'>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= link_to "New Badge", new_badge_path, class: "btn btn-success" if current_user.admin? %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12-col-md-12 col-sm-12 col-xs-12">
    <table id="datatable" class="display">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Image</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @badges.each do |badge| %>
          <tr>
            <td><%= badge.id %></td>
            <td><%= badge.name %></td>
            <td><%= badge.image %></td>
            <td><%= link_to 'Show', badge, target: "_blank" %></td>
            <td><%= link_to 'Edit', edit_badge_path(badge), target: "_blank" %></td>
            <td><%= link_to 'Destroy', badge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
