<% if current_user.admin? %>
  <div class="row" style="margin-bottom:20px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= link_to "Edit", edit_badge_path(@badge), class: "btn btn-default pull-right" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div style="margin-bottom:0;" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h1 style="margin-left:10px;margin-top:10px"><%= @badge.name %></h1>
          </div>
        </div>
      </div>
      <div class="panel-body" style="padding-bottom:5px;">
        <div class="text-center">
          <%= image_tag(@badge.image.url, size: "150x150", style: "margin-top:10px;") if @badge.image %>
          <%= link_to "Please add image.", edit_badge_path(@badge) unless @badge.image %>
        </div>
        <div class="requirements">
          <h3 style="color:#8a8a8a;">To earn this badge you must...</h3>
          <%= simple_format(@badge.requirements, {class: "simple_format"}, wrapper_tag: "div", sanitize: false) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <%= render 'badge_requests/form', badge_request: @badge_request, user: current_user, badge: @badge %>
  </div>
</div>
