<% if (current_user.parent? && badge.parent_can_request) || current_user.employee? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if current_page?(action: 'edit') %>
        <h1 style="margin:10px 0 10px 0;">Edit Badge Request.</h1>
      <% else %>
        <h1 style="margin:10px 0 10px 0;" data-toggle="tooltip" data-placement="right" title="See below for link to more information about badges.">Request this badge!</h1>
      <% end %>
    </div>
    <div class="panel-body">
      <%= simple_form_for badge_request do |f| %>
        <% if user.employee? %>
          <%= f.input :student_id, collection: Student.actives.order(:last_name), label_method: :full_name, input_html: { class: 'chosen', style: "width:100%;" } %>
        <% else %>
          <%= f.input :student_id, collection: user.students, label_method: :full_name, input_html: { class: 'chosen', style: "width:100%;" } %>
        <% end %>
        <% if current_user.parent? %>
          <%= f.input :badge_id, collection: Badge.that_parents_can_request, selected: badge.id, input_html: { class: 'chosen', style: "width:100%;" } %>
        <% else %>
          <%= f.input :badge_id, collection: Badge.all, selected: badge.id, input_html: { class: 'chosen', style: "width:100%;" } %>
        <% end %>
        <%= f.input :user_id, as: :hidden, input_html: { value: user.id } %>

        <% if badge.write_up_required? %>
          <%= f.input :write_up, input_html: { rows: 6, style: "resize:vertical;", data: { "writeup-required" => true } }, placeholder: "Your student must submit a short write-up to earn this badge. This is where they can put it :)" %>
        <% else %>
          <%= f.input :write_up, wrapper_html: { style: "display:none;" }, input_html: { rows: 6, style: "resize:vertical;", data: { "writeup-required" => false } }, placeholder: "Your student must submit a short write-up to earn this badge. This is where they can put it :)" %>
        <% end %>
        <%= f.submit "Submit", class: 'btn btn-lg btn-default pull-right' %>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="row" style="margin:10px 0 10px 0;">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center">
          <span style="color:red;">The badge request form is for parents who are certifying completion of a badge.</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
          <%= link_to "More Info", badge_home_path, target: "_blank", class: "btn btn-primary btn-md" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h3 class='alert alert-warning' style='margin: 0'>Badge cannot be requested by parent. More than likely this badge can only be earned in class ;)</h3>
<% end %>
