<p id="notice"><%= notice %></p>

<p>
  <b>Level:</b>
  <%= @occupation_level.level %>
</p>

<p>
  <b>Points:</b>
  <%= @occupation_level.points %>
</p>

<p>
  <b>Rewards:</b>
  <%= @occupation_level.rewards %>
</p>

<p>
  <b>Bonus Credits:</b>
  <%= @occupation_level.bonus_credits %>
</p>

<p>
  <b>Prevleges:</b>
  <%= @occupation_level.privileges %>
</p>

<p>
  <b>Notes:</b>
  <%= @occupation_level.notes %>
</p>


<%= link_to 'Edit', edit_occupation_level_path(@occupation_level) %> |
<%= link_to 'Back', occupation_levels_path %>
