<h3>Payment Audit Report for Active Students</h3>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<table class="table table-hover table-bordered table-condensed table-responsive">
			<thead>
				<tr>
					<th></th>
					<th>Parent Name</th>
					<th>Parent Status</th>
					<th>Active Students</th>
					<th>Active Subscriptions</th>
					<th>Balance Due</th>
				</tr>
			</thead>
			<tbody>
				<% @parents_with_active_students.each_with_index do |parent, i| %>
				<tr "<%= "class=danger" if parent.balance_due != 0 %>">
					<td><%= i + 1 %></td>
					<td><%= link_to parent.full_name, parent, :target => "_blank" %> <%= "- " + parent.billing_note if !parent.billing_note.empty? %></td>
					<td><%= user_status(parent).html_safe %></td>
					<td "<%= parent.registrations.includes(:student).active.delete_if{ |reg| (reg.switch == true && reg.start_date > Date.today) }.count !=  parent.subscription_count ? "class=warning" : "" %>" >
						<ol>
							<% parent.registrations.includes(:student).active.delete_if{ |reg| (reg.switch == true && reg.start_date > Date.today) }.each do |reg| %>
								<li>
									<%= reg.student.full_name %> (<%= reg.student.last_attendance_xp ? reg.student.last_attendance_xp.created_at.strftime("%D") : "No Attendance" %>)
								</li>
							<% end %>
						</ol>
					</td>
					<td <%= parent.registrations.includes(:student).active.delete_if{ |reg| (reg.switch == true && reg.start_date > Date.today) }.count !=  parent.subscription_count ? "class=warning" : "" %>>
						<%= parent.subscription_count %>
					</td>
					<td>$<%= parent.balance_due %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<h1>Parents With Subscriptions and No Registrations</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Parent
					</th>
					<th>
						Balance
					</th>
				</tr>
			</thead>
			<tbody>
				<% @parent_sub_no_reg.each do |parent| %>
					<tr>
						<td><%= link_to parent.full_name, parent %></td>
						<td><%= parent.balance_due %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<h1>Parents With Registration and No Subscription</h1>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>
						Parent
					</th>
						<th>
							Registrations (status)
						</th>
				</tr>
			</thead>
			<tbody>
				<% @parents_with_active_students_no_sub.each do |parent| %>
					<tr>
						<td>
							<%= link_to parent.full_name, parent, target: '_blank' %> <%= "- " + parent.billing_note if !parent.billing_note.empty? %>
						</td>
						<td>
							<ol>
								<% parent.registrations.each do |reg| %>
									<% if (0..2) === reg.status %>
										<li><%= reg.student.full_name %> <%= render '/students/registration_dates', reg: reg %></li>
									<% end %>
								<% end %>
							</ol>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'Back', infusion_pages_home_path, class: 'm-btn m-btn-small' %>
		<br />
	</div>
</div>
