<h3>Payment Audit Report for Active Students</h3>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="pull-right" style="margin: 0 0 25px 0;">
			<%= link_to "Load Attendance", '#', class: "btn btn-default", id: 'load_attendance' %>
			<%= link_to "Registration Audit", infusion_pages_registration_audit_path, class: "btn btn-primary" %>
			<%= link_to "Subscription Audit", infusion_pages_subscription_audit_path, class: "btn btn-warning" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<table class="table table-hover table-bordered table-condensed table-responsive audit">
			<thead>
				<tr>
					<th></th>
					<th>Parent Name</th>
					<th>Active Students</th>
					<th>Active Subscriptions</th>
					<th>Balance Due</th>
				</tr>
			</thead>
			<tbody>
				<% @parents.each_with_index do |parent, i| %>
					<% if parent.active_students? %>
						<tr <%= "class=danger" if parent.balance_due != 0 %>>
							<td class="text-center"><%= i + 1 %></td>
							<td ><%= link_to parent.full_name, parent, :target => "_blank" %> <%= "- " + parent.billing_note if !parent.billing_note.empty? %></td>
							<td>
								<ol>
									<% parent.active_registrations.each do |reg| %>
										<li class='active-registration' data-student-id="<%= reg.student_id %>">
											<%= reg.student.full_name %>
										</li>
									<% end %>
								</ol>
							</td>
							<td class="text-center"><%= parent.subscription_count %></td>
							<td class="text-center">$<%= parent.balance_due %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'Back', infusion_pages_home_path, class: 'm-btn m-btn-small' %>
		<br />
	</div>
</div>
