<h3>Edit Billing and Payment Info (Infusionsoft)</h3>
<div class="row">
	<div class="span6">
		<h4>Billing Info</h4>
		<%= form_tag url_for(controller: 'infusion_pages', action: 'update'), {:method => :get, class: 'form-horizontal'} do %>
			<%= hidden_field_tag :Id, params[:ContactId] %>
			<div class="control-group">
				<label class="control-label">First Name </label>
				<div class="controls"><%= text_field_tag :FirstName, @user["FirstName"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Last Name </label>
				<div class="controls"><%= text_field_tag :LastName, @user["LastName"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Email </label>
				<div class="controls"><%= text_field_tag :Email, @user["Email"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Home Phone </label>
				<div class="controls"><%= text_field_tag :Phone1, @user["Phone1"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Mobile Phone </label>
				<div class="controls"><%= text_field_tag :Phone2, @user["Phone2"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Street </label>
				<div class="controls"><%= text_field_tag :StreetAddress1, @user["StreetAddress1"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">City </label>
				<div class="controls"><%= text_field_tag :City, @user["City"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">State </label>
				<div class="controls"><%= text_field_tag :State, @user["State"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Zip </label>
				<div class="controls"><%= text_field_tag :PostalCode, @user["PostalCode"] %></div>
			</div>
			<div class="control-group">
				<label class="control-label">New Customer</label>
				<div class="controls"><%= check_box_tag :NewCustomer, false %></div>
			</div>
			<%= submit_tag "Save Changes", :name => nil, class: 'btn btn-small' %>
		<% end %>
	</div>
	<div class="span6">
		<h4>Active Credit Cards</h4>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Name on Card</th>
					<th>Type</th>
					<th>Last 4</th>
					<th>Exp</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% @credit_card.each do |i| %>
				<tr>
					<td><%= i["NameOnCard"] %></td>
					<td><%= i["CardType"] %></td>
					<td><%= i["Last4"] %></td>
					<td><%= exp_date(i["ExpirationMonth"],i["ExpirationYear"]) %></td>
					<td><%= cc_status(i["Status"]) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<h4>Add New Credit Card</h4>
		<%= form_tag url_for(controller: 'infusion_pages', action: 'credit_card'), {:method => :get, class: 'form-horizontal'} do %>
			<%= hidden_field_tag :Id, params[:ContactId] %>
			<div class="control-group">
				<label class="control-label">Name on Card </label>
				<div class="controls"><%= text_field_tag :NameOnCard, nil %></div>
						</div>
			<div class="control-group">
				<label class="control-label">Card Type </label>
				<div class="controls"><%= select_tag :CardType, options_for_select(["Choose card...", "American Express","Visa","MasterCard", "Discover"]) %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Credit Card Number </label>
				<div class="controls"><%= text_field_tag :CardNumber, nil %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Expiration Month </label>
				<div class="controls"><%= text_field_tag :ExpirationMonth, nil %></div>
			</div>
			<div class="control-group">
				<label class="control-label">Expiration Year </label>
				<div class="controls"><%= text_field_tag :ExpirationYear, nil %></div>
			</div>
			<%= submit_tag "Add CC", :name => nil, class: 'btn btn-small' %>
		<% end %>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<h4>Link to Parent in MPA App</h4>
		<% if @app_user %>
			Linked to <%= @app_user.first_name %> <%= @app_user.last_name %> |
			<%= link_to 'Edit', edit_user_path(@app_user), :target => "_blank" %> |
			<%= link_to 'Show', user_path(@app_user), :target => "_blank" %>
		<% else %>
			This parent is not linked.<br />
			<% if @candidates.empty? %>
				No parents in the MPA App match by first and last name.<br /><br />
				<%= link_to 'Create Parent', new_user_path(params.merge(first_name: @user["FirstName"], last_name: @user["LastName"], email: @user["Email"], phone: @user["Phone1"], infusion_id: params[:ContactId])), class: 'btn btn-small' %>
			<% else %>
				The following parents in the MPA app could be a match: <br />
				<% @candidates.each do | candidate | %>
					<%= candidate.first_name %> <%= candidate.last_name %> <%= candidate.infusion_id %> <%= candidate.email %> <%= candidate.phone %> | 		<%= link_to 'Update', edit_user_path(candidate, infusion_id: params[:ContactId]), :target => "_blank" %>
				<% end %>
			<% end %>
		<% end %>
		<hr>
		<%= link_to 'Back', infusion_pages_home_path(ContactId: params[:ContactId]), class: 'btn btn-small' %>
		<%= link_to 'View Subscriptions', infusion_pages_subscription_path(ContactId: params[:ContactId]), class: 'btn btn-small' %>
		<br />
	</div>
</div>