<style type="text/css" media="print" >

@page {
 size: landscape;
  margin: 1in;
}

.studentname{
  font-family: Stencil;
  font-size: 17pt;
  position: absolute;
  left: 5.5in;
  transform: rotate(4deg);
  transform-origin:0% 50% 0;
  -ms-transform:rotate(4deg); /* IE 9 */
  -moz-transform:rotate(4deg); /* Firefox */
  -webkit-transform:rotate(4deg); /* Safari and Chrome */
  -o-transform:rotate(4deg); /* Opera */
}

.barcode{
  font-family: New;
  position: absolute;
  top: 2.5in;
  left: 1.55in;
  font-size: 47pt;
}

.activated{
  position: absolute;
  top: 3in;
  left: 1.45in;
  font-family: Spy Agency;
  font-size: 12pt;
}

.daytimeclass{
  font-family: American Typewriter;
  font-size: 17pt;
  position: absolute;
  top: 5.1in;
  transform: rotate(4deg);
  transform-origin:0% 50% 0;
  -ms-transform:rotate(4deg); /* IE 9 */
  -moz-transform:rotate(4deg); /* Firefox */
  -webkit-transform:rotate(4deg); /* Safari and Chrome */
  -o-transform:rotate(4deg); /* Opera */
}

#center{
  text-align: center;
}

</style>

<body>

      <div class="studentname"><%= @student.full_name %></div>


      <div class="barcode"> *<%= @student.id %>* </div>


      <div class="activated">Activated</div>


      <div class="daytimeclass">Day: <%= @offering.day %> &nbsp; Time: <%= @offering.time.strftime("%I:%M %p") %> &nbsp; Classroom: <%= @offering.classroom %> <div>

</body>