<style type="text/css" media="print" >

@page {
  margin: 1in;
}

.studentname{
  font-family: Arial Black;
  font-size: 36pt;
  padding-top: 3.5in;
  text-align: center;
}

.classname{
  font-family: Arial Black;
  font-size: 36pt;
  text-align: center;
}

.barcode{
  font-family: New;
  font-size: 55pt;
  padding-top: .5in;
  text-align: center;
}

.day{
  font-family: LiSong Pro;
  font-size: 22pt;
  padding-top: .5in;
  text-align: center;
}

.time{
  font-family: LiSong Pro;
  font-size: 22pt;
  text-align: center;
}

.classroom{
  font-family: LiSong Pro;
  font-size: 22pt;
  text-align: center;
}

</style>

<body>
      <div class="studentname"><%= @student.full_name %></div>

      <div class="classname"><%= @second_offering.course.course_name %></div>

      <div class="barcode"> *<%= @student.id %>* </div>

      <div class="day">Day: <%= @second_offering.day %> </div>

      <div class="time">Time: <%= @second_offering.time.strftime("%I:%M %p") %> </div>

      <div class="classroom">Classroom: <%= @second_offering.classroom %> </div>
</body>