<% title "Users" %>

<h1><%= yield(:title)%></h1>

<p>
  <%= mail_to "#{@active_employees_emails.join}", "Email Active Employees" if current_user.admin? %>
</p>

<p>
  <%= link_to "Filter Parents", users_path(:users => :parents) %>
</p>

<% if current_user.admin? %>
<p><%= link_to 'New User', new_user_path, class: "btn btn-success" %></p>

<p>
  Download:
  <%= link_to "CSV", users_path(format: "csv") %>
</p>
<% end %>



<table id="datatable" class="display">
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Email</th>
      <th>Active</th>
      <th></th>
      <% if current_user.admin? %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.role %></td>
      <td><%= user.phone %></td>
      <% if user.location %>
      <td><%= user.location.name %></td>
      <% else %>
      <td>invited</td>
      <% end %>
      <td><%= user.email %></td>
      <td><%= user.active %></td>
      <td><%= link_to 'Show', user, :target => "_blank" %></td>
      <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_user_path(user), :target => "_blank" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br />

<% if signed_in? && current_user.try(:admin?) %>
  <h3> Import Users</h3>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Import", class: "btn btn-default" %>
  <% end %>
<% end %>
