<% if params[:infusion_id] %>
  <%= simple_form_for @user, :validate => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if params[:first_name] %>
      <%= f.input :first_name, :input_html => { :value => params[:first_name]} %>
      <%= f.input :last_name, :input_html => { :value => params[:last_name]} %>
      <%= f.input :phone, :input_html => { :value => params[:phone1]} %>
      <%= f.input :email, :input_html => { :value => params[:email]} %>
    <% else %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :email %>
    <% end %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if current_user.employee? %>
      <%= f.input :infusion_id, label: 'Infusionsoft Id', hint: 'Only for Parents', :input_html => { :value => params[:infusion_id]}  %>
      <%= f.input :passion %>
      <%= f.input :shirt_size %>
      <%= f.association :location, label_method: :name %>
      <%= f.input :role, collection: ["Admin", "Teacher", "Teaching Assistant", "Parent"] %>
      <%= f.input :has_key %>
      <%= f.input :admin %>
      <%= f.input :active %>
    <% end %>
    <%= f.button :submit, class: "m-btn" %>
  <% end %>
<% else %>
  <%= simple_form_for @user, :validate => true do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <% if current_user.employee? %>
        <%= f.input :infusion_id, label: 'Infusionsoft Id', hint: 'Only for Parents' %>
        <%= f.input :passion %>
        <%= f.input :shirt_size %>
        <%= f.association :location, label_method: :name %>
        <%= f.input :role, collection: ["Admin", "Teacher", "Teaching Assistant", "Parent"] %>
        <%= f.input :has_key %>
        <%= f.input :admin %>
        <%= f.input :active %>
      <% end %>
      <%= f.button :submit, class: "m-btn" %>
  <% end %>
<% end %>