<div class="modal fade" id="newStudentUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="newStudentUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New Student</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <%= simple_form_for @new_student do |f| %>
              <%= f.input :first_name, label: "First Name" %>
              <%= f.input :last_name, label: "Last Name", input_html: { value: @user.last_name } %>
          </div>
          <div class="col-lg-6">
            <%= f.association :user, label_method: :full_name, label: "Parent", selected: @user.id  %>
            <%= f.input :credits, as: :hidden, input_html: { value: 1 } %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
