<% title "Parents" %>

<h1><%= yield(:title)%></h1>

<p>
  <%= link_to "All Users", users_path(:users => :all) %>
</p>

<table id="parents" class="display">
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Email</th>
      <th>Active</th>
      <th></th>
      <% if current_user.admin? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @parents.each do |parent| %>
    <tr>
      <td><%= parent.id %></td>
      <td><%= parent.first_name %></td>
      <td><%= parent.last_name %></td>
      <td><%= parent.role %></td>
      <td><%= parent.phone %></td>
      <% if parent.location %>
      <td><%= parent.location.name %></td>
      <% else %>
      <td>invited</td>
      <% end %>
      <td><%= parent.email %></td>
      <td><%= parent.active %></td>
      <td><%= link_to 'Show', parent, :target => "_blank" %></td>
      <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_user_path(parent), :target => "_blank" %></td>
      <td><%= link_to 'Deactivate', { controller: "users", action: "deactivate", id: parent.id }, method: :post, data: { confirm: 'Are you sure?' } if parent.active? %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>