<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="display:inline;" class="panel-title">Account Information</h3>
    <%= link_to "Edit", edit_user_path(@user), class: "pull-right" %>
  </div>
  <div class="panel-body">
    <p>
      <b>Email:</b>
      <%= mail_to @user.email, @user.email if current_user.admin? %>
      <%= @user.email unless current_user.admin? %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>
    <p>
      <b>Location:</b>
      <%= @user.location.name if @user.location %>
    </p>
    <% if ['1','2'].include?(current_user.id) || Rails.env.development? %>
    <p>
      <b>SSN:</b>
      <%= @user.ssn %>
    </p>
    <p>
      <b>Bank Account:</b>
      <%= @user.bank_account %>
    </p>
    <p>
      <b>Routing Number:</b>
      <%= @user.routing_number %>
    </p>
    <% end %>
    <% if @user.role  == "Parent" && current_user.admin? %>
      <% if @user.infusion_id != nil %>
      <p>
        <b>Infusionsoft Id:</b>
        <%= @user.infusion_id %>
      </p>
      <% else %>
        <%= link_to "Search Infusionsoft", "javascript:void(0)", class: "btn btn-sm btn-default infusion_id_lookup", data: { lastName: @user.last_name, userid: @user.id } %>
        <div class="infusionsoft_results"></div>
      <% end %>
    <% end %>
  </div>
</div>
