<%= title 'Edit Password' %>
<div class="row">
  <div class="col-sm-4">
    <h1>Edit Password</h1>
    <%= simple_form_for(@user, :url => { :action => "update_password" } ) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.input :password, :autocomplete => "off"  %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
