<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="page-header">
      <h2>Account Information <small><%= link_to "Edit", "#" %></small></h2>
    </div>
    <h3> <%= @user.full_name %> </h3>
    <% if @infusion_info %>
      Address:
      <h4>
        <%= @infusion_info.StreetAddress1 %><br>
        <%= @infusion_info.City %>, <%= @infusion_info.State %> <%= @infusion_info.PostalCode %>
      </h4>
      <br>
      Email:   <h5 style="display:inline;"> <%= @infusion_info.Email %> </h5><br>
      <br>
      Phone 1: <h5 style="display:inline;"> <%= @infusion_info.Phone1 %> </h5><br>
      <br>
      Phone 2: <h5 style="display:inline;"> <%= @infusion_info.Phone2 %> </h5>
    <% else %>
      Please update your account information.
    <% end %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="page-header">
      <h2>Students</h2>
    </div>
    <% @user.students.each do |student| %>
      <div class="well well-sm">
        <div class="row">
          <div class="col-lg-3">
            <%= image_tag("math_plus_icons/MATHPLUS-avatar-robot.png", size: "100x100")%>
          </div>
          <div class="col-lg-9">
            <h1 class="text-center"><%= student.full_name %></h1>
            <div class="row">
              <div class="col-lg-6">
                <%= link_to student do%>
                  <h5 class="text-center">Student Page</h5>
                <% end %>
              </div>
              <div class="col-lg-6">
                <%= link_to new_enrollment_change_request_path(student_id: student.id, parent_id: @user.id) do%>
                  <h5 class="text-center">Update Enrollment</h5>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>