<div class="row-fluid">
  <div class="span12">

    <h2 style="display:inline;"><%= @user.first_name %> <%= @user.last_name %></h2>&nbsp &nbsp (<%= @user.role %>)
      <%= link_to "Edit User", edit_user_path(@user), class: "m-btn mini pull-right"%>
    <hr>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>

    <p>
      <b>Location:</b>
      <%= @user.location.name if @user.location %>
    </p>

    <% if @user.teacher? && current_user.admin? %>
      <p>
        <b>Offerings:</b>
        <ul>
        <% @user.offerings.each do |off| %>
          <li><%= off.offering_name %></li>
        <% end %>
        <ul>
      </p>
    <% end %>

    <!-- displays each student for user -->
    <%= render 'parents_students' %>

    <% unless current_user.parent? || current_user.teacher? %>

      <!-- billing information -->

      <%= render 'billing_information' %>
      <% if current_user.admin? %>
          <% if @user.role == "Parent" && @user.infusion_id != nil %>
            <%= render 'billing' %>
          <% end %>
      <% end %>

      <% if @user.admin? %>
        <p>
          <b>Admin:</b>
          <%= @user.admin %>
        </p>
      <% end %>
      <p>
        <b>Active:</b>
        <%= @user.active %>
      </p>

      <p>
        <%= render 'shared/nav_buttons' %>

        <% if @user.parent? %>
        <%= link_to "Add Student", {controller: "students", action: "new", user_id: @user.id}, { class: "m-btn blue" } %>
        <%= link_to 'Deactivate', { controller: "users", action: "deactivate", id: @user.id }, method: :post, data: { confirm: 'Are you sure? This action sets the user to inactive as well as their students.' }, class: 'm-btn red' if @user.active? %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="span2"></div>
  <% if current_user.admin? %>
    <div class="span4">
      <div class="row-fuild">
        <%= simple_form_for [@user, Note.new], remote: true do |f| %>
          <%= f.input :content, label: "Add note...", input_html: { style: "width:auto;", rows: 4 } %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.button :submit, class: "m-btn note-button green" %>
        <% end %>

        <div id="user_note">
          <%= render 'user_notes' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
