<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <h2 style="display:inline;"><%= @user.first_name %> <%= @user.last_name %></h2>&nbsp &nbsp (<%= @user.role %>) <%= user_status(@user).html_safe %>
    <p style="margin-top:10px;">
      <b>Email:</b>
      <%= mail_to @user.email, @user.email %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <ul class="pull-right">

      </ul>
  </div>

  <%= render 'user_toolbar' %>

</div>

  <hr>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

    <p>
      <b>Location:</b>
      <%= @user.location.name if @user.location %>
    </p>

    <% if @user.teacher? && current_user.admin? %>
      <p>
        <b>Offerings:</b>
        <ul>
        <% @user.offerings.each do |off| %>
          <li><%= off.offering_name %></li>
        <% end %>
        <ul>
      </p>
    <% end %>

    <!-- displays each student for user -->
    <%= render 'parents_students' %>

    <% unless current_user.parent? || current_user.teacher? %>

      <!-- billing information -->

      <%= render 'billing_information' %>
      <% if current_user.admin? %>
          <% if @user.role == "Parent" && @user.infusion_id != nil %>
            <%= render 'billing' %>
          <% end %>
      <% end %>

      <% if @user.admin? %>
        <p>
          <b>Admin:</b>
          <%= @user.admin %>
        </p>
      <% end %>

      <p>
        <%= render 'shared/nav_buttons' %>
      </p>
    <% end %>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <% if current_user.admin? %>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <%= simple_form_for [@user, Note.new], remote: true do |f| %>
        <%= f.input :content, label: "Add note...", input_html: { style: "width:100%;", rows: 4 } %>
        <%= f.input :action_date, as: :string, input_html: { id: :datepicker } if current_user.admin? %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.button :submit, class: "btn btn-xs btn-success" %>
      <% end %>
      <div class="notes">
        <div id="user_note">
          <%= render 'user_notes' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
