 <div class="row">
  <div class="span12">
    <h2 style="display:inline;"><%= @user.first_name %> <%= @user.last_name %></h2>&nbsp &nbsp (<%= @user.role %>)
    <hr>
    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>

    <!-- displays each student for user -->
    <% if @user.role  == "Parent" %>
      <b><%= "Student".pluralize(@user.students.count) %>/offering:</b>
      <p>
        <% @user.students.each do |student| %>
          <h4> <%= link_to student.full_name, student %></h4>
          <% student.offerings.each do |offering| %>
            <p><%= link_to offering.offering_name, offering %></p>
          <% end %>
        <% end %>
      </p>
    <% end %>
    <% unless current_user.parent? || current_user.teacher? %>

    <!-- displays each student for user -->

    <% if @user.role  == "Parent" %>
      <% if @user.infusion_id != nil %>
      <p>
        <b>Infusionsoft Id:</b>
        <%= @user.infusion_id %>&nbsp &nbsp
        <%= link_to 'Update in Infusionsoft', infusion_pages_edit_path(ContactId: @user.infusion_id), class: 'm-btn mini purple-stripe' %>
        <%= link_to 'Invoices & Subscriptions', infusion_pages_subscription_path(ContactId: @user.infusion_id), class: 'm-btn mini blue-stripe' %>
      </p>
      <% else %>
        <p>
          <b>Infusionsoft Id is Undefined</b>
        </p>
      <% end %>
    <% end %>
    <p>
      <b>Location:</b>
      <%= @user.location.name if @user.location %>
    </p>
    <% if @user.admin? %>
      <p>
        <b>Admin:</b>
        <%= @user.admin %>
      </p>
    <% end %>
    <p>
      <b>Active:</b>
      <%= @user.active %>
    </p>

    <p>
      <%= link_to "Edit User", edit_user_path(@user), class: "m-btn"%>

      <%= render 'shared/nav_buttons' %>

      <% if @user.parent? %>
      <%= link_to "Add Student", {controller: "students", action: "new", user_id: @user.id}, { class: "m-btn blue" } %>
      <%= link_to 'Deactivate', { controller: "users", action: "deactivate", id: @user.id }, method: :post, data: { confirm: 'Are you sure? This action sets the user to inactive as well as their students.' }, class: 'm-btn red' if @user.active? %>
      <% end %>
    </p>

  </div>
  <% end %>
</div>

<div class="row">
  <% if current_user.admin? %>
  <div class="span6">
    <% if @user.role == "Parent" && @user.infusion_id != nil %>
      <%= render 'billing' %>
    <% end %>
  </div>
  <% end %>
</div>