<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <h2 style="display:inline;"><%= @user.first_name %> <%= @user.last_name %></h2>&nbsp &nbsp (<%= @user.role %>)
    <br>
    <br>
    <%= user_status(@user).html_safe if current_user.employee? %>
  </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <%= render 'user_toolbar' if current_user.employee? %>
    </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 cl-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="display:inline;" class="panel-title">Account Information</h3>
        <%= link_to "Edit", edit_user_path(@user), class: "pull-right" %>
      </div>
      <div class="panel-body">
        <p>
          <b>Email:</b>
          <%= mail_to @user.email, @user.email %>
        </p>

        <p>
          <b>Phone:</b>
          <%= @user.phone %>
        </p>
        <p>
          <b>Location:</b>
          <%= @user.location.name if @user.location %>
        </p>
        <% if @user.role  == "Parent" %>
          <% if @user.infusion_id != nil %>
          <p>
            <b>Infusionsoft Id:</b>
            <%= @user.infusion_id %>
          </p>
          <% else %>
            <p>
              <b>Please Link with Infusionsoft</b>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @user.teacher? && current_user.admin? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="display:inline;" class="panel-title">Classes</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @user.offerings.each do |off| %>
              <li><%= link_to off.offering_name, off %></li>
            <% end %>
          <ul>
        </div>
    <% end %>


    <% if @user.parent? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="display:inline;" class="panel-title">Students</h3>
          <%= link_to "Add Student", "javascript:void(0)", data: { toggle: "modal", target: "#newStudentUserModal" }, class: "pull-right" %>
        </div>
        <div class="panel-body">
          <!-- displays each student for user -->
          <%= render 'parents_students' %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="display:inline;" class="panel-title">Billing Information</h3>
          <span class="pull-right">
            <%= link_to 'Update in Infusionsoft', infusion_pages_edit_path(ContactId: @user.infusion_id) if @user.infusion_id != nil %> |
            <%= link_to 'Invoices & Subscriptions', infusion_pages_subscription_path(ContactId: @user.infusion_id) if @user.infusion_id != nil %>
          </span>
        </div>
        <div class="panel-body">
          <%= render 'billing_information' %>
      <% if current_user.admin? %>
        <% if @user.role == "Parent" && @user.infusion_id != nil %>
          <%= render 'billing' %>
        <% end %>
      <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 cl-xs-12">
    <% if current_user.admin? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for [@user, Note.new], remote: true do |f| %>
            <%= f.input :content, label: "Add note...", input_html: { style: "width:100%;", rows: 4 } %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <%= f.association :location, label_method: :name, input_html: { data: { toggle: "tooltip", placement: "top" }, title: "Leave blank unless you want note broadcast to all admins at specified location." } %>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <%= f.input :action_date, as: :string, input_html: { id: :datepicker } if current_user.admin? %>
              </div>
            </div>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.button :submit, class: "btn btn-xs btn-success" %>
          <% end %>
          <div class="notes">
            <div id="user_note">
              <%= render 'user_notes' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'new_student_user_modal' %>