<%= link_to "Edit", edit_registration_path(@registration), class: "btn btn-secondary pull-right" if current_user.admin? %>
<h1 style="margin:0 0 30px 0;">Class Registration</h1>
<h2 style="margin:0 0 30px 0;color:gray;">Student - <%= @student.full_name %></h2>
<div class="well well-sm" style="padding:0 0 0 0;">
	<div style="padding:5px 10px 0 10px;">
	  <div class="row">
	    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<h3 style="margin:10px 0 20px 10px;">
          <%= current_user.employee? ? link_to(@registration.offering_name, @registration.offering) : @registration.offering.offering_name %>
        </h3>
        <h4 style="margin:10px 0 20px 10px;">
				<div style="color:orange;"><%= "Hold begins: #{@registration.hold_date.strftime('%D')}" if @registration.hold_date %></div>
				<div style="color:red;"><%= "Ending: #{@registration.end_date.strftime('%D')}" if @registration.end_date && !(@registration.switch_id) %></div>
				<div style="color:red;"><%= "Changing Classes: #{@registration.end_date.strftime('%D')}" if @registration.end_date && @registration.switch_id %></div>
				<div style="color:green;"><%= "Starting: #{@registration.start_date.strftime('%D')}" if @registration.start_date && ( @registration.status == 0 ) %></div>
				<div style="color:green;"><%= "Restarting: #{@registration.restart_date.strftime('%D')}" if @registration.restart_date && (@registration.restart_date >= Date.today) %></div>
        </h4>
			</div>
		</div>
	  <div class="row">
	 		<div class='col-lg-8 col-md-8 col-sm-8 col-xs-8'>
	    	<div class="text-left" style="margin:0 0 20px 10px;">
					<%= registration_status(@registration).html_safe if current_user.employee? %>
				</div>
		  </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <%= link_to "Make Active", activate_registrations_path(id: @registration.id), class: "btn btn-xs btn-success pull-right", style: "margin-right:10px;" if @registration.status == 0 %>
      </div>
		</div>
  </div>
	<% if current_user.employee? %>
			<div class="registration_info">
				<% if current_user.admin? %>
					<% unless (@registration.start_date && (@registration.switch && @registration.start_date > Date.today)) || (@registration.status == 2 && @registration.holder.hold_date > Date.today) %>
		 		  <div class="row">
				 		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
					    <div class='text-center' style="margin-left:5px;">
					    	<div class="btn-group btn-group-sm">
								  <%= link_to "Switch", "javascript:void(0)", class: "btn switch btn-secondary", data: { registrationid: @registration.id, offeringid: @registration.offering_id } unless @registration.end_date || (@registration.switch_id && @registration.start_date > Date.today) || @registration.hold_date %>
								  <!-- Status 1 is active, which requires different actions. -->
								  <% if @registration.status == 1 %>
								  	<%= link_to "Hold", "javascript:void(0)", class: "btn hold btn-warning", data: { registrationid: @registration.id } unless @registration.end_date || @registration.hold_date %>
								  	<%= link_to "Cancel Hold", url_for(action: 'cancel_hold', controller: 'registrations', registration_id: @registration.id), class: "btn cancel_drop btn-warning", data: { confirm: "Are you sure you want to cancel this hold?" } if @registration.hold_date %>
								  	<%= link_to "Drop", "javascript:void(0)", class: "btn drop btn-danger", data: { registrationid: @registration.id, studentFirstName: @student.first_name, offeringName: @registration.offering_name } unless @registration.end_date || (@registration.switch_id && @registration.start_date > Date.today) || @registration.hold_date || ( @registration.attended_first_class == false && @registration.start_date && @registration.start_date < Date.today) %>
										<%= link_to 'Destroy', @registration, method: :delete, data: { confirm: 'This will remove any and all traces of this registration. Are you sure?' }, class: "btn btn-danger" if @registration.attended_first_class == false && @registration.start_date && @registration.start_date < Date.today %>
								  	<%= link_to "Cancel Class Change", url_for(action: 'cancel_drop', controller: 'registrations', registration: { id: @registration.id }), class: "btn cancel_switch btn-danger", data: { confirm: "Are you sure you want to cancel this drop?" } if @registration.end_date && @registration.switch_id %>
								  	<%= link_to "Cancel Drop", url_for(action: 'cancel_drop', controller: 'registrations', registration_id: @registration.id), class: "btn cancel_drop btn-danger", data: { confirm: "Are you sure you want to cancel this drop?" } if @registration.end_date && !(@registration.switch_id) %>
								  <% else %>
								  <!-- This drop destroys the record since the class has never been attended. -->
										<%= link_to 'Destroy', @registration, method: :delete, data: { confirm: 'This will remove any and all traces of this registration. Are you sure?' }, class: "btn btn-danger" %>
								  <% end %>
								</div>
				 		  </div>
			 		  </div>
		 		  </div>
					<% end %>
			  <% end %>
			  <br>
			  <div class="row">
		    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			    <div class='text-right'>
		 				<%= offering_binder_cover(@registration.offering.course_id, @registration.offering.id, @student.id).html_safe  if @registration.offering %>
		 		  </div>
	 		  </div>
			  </div>
		  </div>
	  <% end %>
</div>
