<!DOCTYPE html>
<html>
  <head>
    <title>Math Plus Academy - <%= yield(:title) || "Inspiring kids to do great things" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag '/MP-Shield.png', rel: 'apple-touch-icon', type: 'image/png'  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<div class="row centered">
  <table class="table table-bordered span12">
    <thead>
      <tr>
        <th>Class</th>
        <th>Grade</th>
        <th>Day/Time</th>
        <th>Teacher</th>
        <th>Classroom</th>
        <th># Students</th>
        <th>Open Spots</th>
      </tr>
    </thead>
    <tbody>
      <% @powell.active_offerings.order(:course_id).each do |offering| %>
        <tr>
          <td>
            <%= offering.course.course_name%><%= raw offering_capacity(offering)%>
          </td>
          <td><%= offering.course.grade if offering.course.grade %></td>
          <td><%= offering.day + " / " + offering.time.strftime("%I:%M %p") %></td></td>
          <td>
            <% offering.users.each do |user| %>
              <% if user.role == "Teacher" %>
                <%= user.full_name %>
              <% elsif user.role == "Programming Instructor"%>
                <%= user.full_name %>
              <% elsif user.role == "Robotics Instructor"%>
                <%= user.full_name %>
              <% elsif user.role == "Chess Instructor"%>
                <%= user.full_name %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= offering.classroom %>
          </td>
          <td><%= offering.active_students_count + offering.returning_students_count %></td>
            <td>
              <% if offering.course_id < 10 %>
                <%= 10 - (offering.active_students_count + offering.returning_students_count) %>
              <% elsif [10].include?(offering.course_id) %>
                <%= 15 - (offering.active_students_count + offering.returning_students_count) %>
              <% elsif [11, 12].include?(offering.course_id) %>
                <%= 8 - (offering.active_students_count + offering.returning_students_count) %>
              <% elsif [13, 17].include?(offering.course_id) %>
                <%= 10 - (offering.active_students_count + offering.returning_students_count) %>
              <% elsif [15, 16].include?(offering.course_id) %>
                <%= 8 - (offering.active_students_count + offering.returning_students_count) %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>