<div class="opportunity_group">
  <div id="opportunity<%= opportunity.id %>" data-id="<%= opportunity.id %>" <%= opportunity.trial_date ? ' data-trialdate=true ' : ' data-trialdate=false ' %> <%= opportunity.appointment_date ? ' data-appointmentdate=true ' : ' data-appointmentdate=false ' %> <%= opportunity.offering_id ? " data-offering=true data-offeringid=#{opportunity.offering_id} " : ' data-offeringid=false ' %> class="well well-sm" style="z-index:1;">
    <li>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <%= link_to "Parent: #{opportunity.parent_name}", opportunity if !(opportunity.student) && ( opportunity.student_name.empty? || opportunity.student_name.nil? ) %>
          <%= link_to "Student: #{opportunity.student_name}", opportunity unless opportunity.student || opportunity.student_name.empty? %>
          <%= link_to "Student: #{opportunity.student.full_name}", opportunity if opportunity.student %> - <span style="font-weight:bold;">Last Note:
          <% if opportunity.student && opportunity.student.user %>
            <%= opportunity.student.user.notes.last ? opportunity.student.user.notes.last.created_at.strftime("%D") : "None" %>
          <% else %>
            No parent assigned.
          <% end %>
          </span> (Added: <%= opportunity.created_at.strftime("%D") %>)
        </div> <!-- /span9 -->
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="flame">
            <%= render '/shared/interest_flame', opportunity: opportunity %>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <%= link_to "javascript:void(0)", class: "status_attr" do %>
            <i class="fa fa-plus pull-right"></i>
          <% end %>
        </div>
      </div> <!-- /.row -->
    </li>
  </div> <!-- /.ui-draggable -->
  <div class="opportunity_toolbar" style="display:none;">
      <%= render '/shared/lead_note_form', opportunity: opportunity %>
  </div> <!-- /.lead_toolbar -->
</div> <!-- /.lead_group -->
