<%= link_to note.notable do %>
  <div class="card mb-3">
    <div style="padding:7px 10px 0 10px;">
      <p>
        <%= sanitize(note.content.gsub("\n", "<br />"), :tags => %w(br), :attributes => %w()) %>
        <div class="text-right">
          <%= link_to "Edit", edit_note_path(note), class: "btn btn-sm btn-secondary" if Time.now - 1.day < note.created_at && current_user.admin? %>
          <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" if current_user.admin? && Time.now - 1.day < note.created_at %>
        </div>
       </p>
      <hr style="margin:0 0 10px 0;">
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <% if note.action_date && (note.action_date <= Date.today) && !note.completed %>
            <div class="checkbox" style="margin:0;">
              <label style="padding-left:0;">
                <%= check_box_tag "complete", "#{note.id}" %> Completed
              </label>
            </div>
          <% elsif note.action_date && note.action_date > Date.today %>
            <span> <i data-toggle="tooltip" data-placement="right" title="Action Date: <%= note.action_date.strftime("%D") %>" class="fa fa-clock-o"></i> </span>
          <% else %>
          <% end %>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="text-right">
            <%= note.user.full_name if note.user %> (<%= note.created_at.strftime("%D")%>)
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to "javascript:void(0)", class: "note_info_toggle" do %>
          <i class="fa fa-angle-double-down fa-1x" data-toggle="tooltip" data-placement="top" title='Additional Information' ></i>
        <% end %>
      </div>
    </div> <!-- adds padding to note -->
    <div class="note_info">
      <div class="row">
        <div class="col-sm-5 col-xs-5">
          <div class="text-center">
            <%= link_to note.notable.full_name, note.notable unless note.not_nameable %>
          </div>
        </div>
        <div class="col-sm-7 col-xs-7">
          <div class="text-center">
            <%=  mail_to(note.notable.user.email)  if note.notable.class.name == "Student" %>
            <%= mail_to(note.notable.email) if note.notable.class.name == "User" || note.notable.class.name == "Opportunity" %>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-5 col-xs-5">
          <div class="text-center">
            <%= note.notable.role if note.notable && !['Student', 'Lesson'].include? note.notable_type %>
          </div>
        </div>
        <div class="col-sm-7 col-xs-7">
          <div class="text-center">
            <%= note.notable.user.phone if note.notable.class.name == "Student" %>
            <%= note.notable.phone if note.notable.class.name == "User" || note.notable.class.name == "Opportunity" %>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>
<% end %>
