<%if @users_search %>
  <% if @users_search.empty? && @students_search.empty? && @offerings_search.empty? %>
    No results found.
    <div class="pull-right">
      <%= form_tag root_path, :method => 'get', :id => "users_search" do %>
        <%= hidden_field_tag :search, '' %>
        <%= button_tag(type: "submit", class: "m-btn red") do %>
          Reset Search <i class="icon-remove icon-white"></i>
        <% end %>
      <% end %>
    </div>
  <% elsif params[:search] == '' %>
  <% else %>
    <h3>Results</h3>
    <div class="pull-right">
      <%= form_tag root_path, :method => 'get', :id => "users_search" do %>
        <%= hidden_field_tag :search, '' %>
        <%= button_tag(type: "submit", class: "m-btn red") do %>
          Reset Search <i class="icon-remove icon-white"></i>
        <% end %>
      <% end %>
    </div>
    <% @users_search.each do |user|%>
      <div class="user_search">
        <p><strong><%= link_to user.full_name, user %></strong></p>
        <p><%= user.email %></p>
        <p><%= user.phone %></p>
      </div>
    <% end %>
    <% @students_search.each do |student|%>
      <div class="user_search">
        <p><strong><%= link_to student.first_name + " " + student.last_name, student %></strong> (Student)</p>
      </div>
    <% end %>
    <% @offerings_search.each do |offering|%>
      <div class="user_search">
        <p><strong><%= link_to offering.offering_name, offering %></strong>  (Open spots: <%= open_spots offering %>)</p>
      </div>
    <% end %>
  <% end %>
<% end %>
