<% title "Student Enrollment" %>

<h1><%= yield(:title)%></h1>

<% if signed_in? && current_user.admin? %>
  <p>
    <%= link_to 'New Course', new_course_path, class: "btn btn-success" %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Student ID</th>
    <th>Offering ID</th>
  </tr>

<% @offeringsstudents.each do |offering_student| %>
  <tr>
    <td><%= offering_student.student_id %></td>
    <td><%= offering_student.offering_id %></td>
  </tr>
<% end %>
</table>

<% if signed_in? && current_user.admin? %>
<h3> Import Student Class Assignment</h3>
  <%= form_tag import_offerings_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>