<%= simple_form_for(@lead) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.association :user, collection: User.where("role = ? AND active =?", "Admin", true), label_method: :full_name %>
    <%= f.association :location, label_method: :name %>
    <%= f.input :appointment_date, as: :string %>
    <%= f.association :stage, label_method: :name %>
    <%= f.input :student_information %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
