<h1>Leads</h1>

<table class="display" id="leads_table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>User</th>
        <th>Stage</th>
        <th>Active</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.first_name %></td>
        <td><%= lead.last_name %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.email %></td>
        <td><%= lead.user.full_name %></td>
        <td><%= lead.stage.name %></td>
        <td><%= lead.active? %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
      </tr>
    <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Lead', new_lead_path %>
