<p id="notice"><%= notice %></p>

<p>
  <h3><u>Lead</u></h3>
  <h4><%= @lead.first_name %> <%= @lead.last_name %></h4>
</p>

<p>
  <b>Phone:</b>
  <%= @lead.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @lead.email %>
</p>

<p>
  <b>User:</b>
  <%= @lead.user ? @lead.user.full_name : "There is no one asigned to this lead. Please assign someone to this lead." %>
</p>

<p>
  <b>Stage:</b>
  <%= @lead.stage ? @lead.stage.name : "No Stage Set, Please update satge of lead." %>
</p>

<% unless @lead.student_information == "" %>
  <p>
    <b>Student information:</b>
    <%= @lead.student_information %>
  </p>
<% end %>

<p>
  <h3>Notes</h3>
  <ul>
  <% @lead.notes.each do |note| %>
    <li>
      <div class="note">
        <p>
          <%= note.content %>
        </p>
        <%= note.user.full_name%> (<%= note.created_at.strftime("%B %d, %Y")%>)
      </div>
    </li>
  <% end %>
  </ul>
</p>

<p>
  <b>Active:</b>
  <%= @lead.active? %>
</p>


<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
