<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @lead.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @lead.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @lead.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @lead.email %>
</p>

<p>
  <b>User:</b>
  <%= @lead.user.full_name %>
</p>

<p>
  <b>Stage:</b>
  <%= @lead.stage.name %>
</p>

<p>
  <b>Student information:</b>
  <%= @lead.student_information %>
</p>

<p>
  <b>Notes:</b>
  <ul>
  <% @lead.notes.each do |note| %>
    <li> <%= note.content %> (by: <%= note.user.full_name%>) </li>
  <% end %>
  </ul>
</p>

<p>
  <b>Active:</b>
  <%= @lead.active? %>
</p>


<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
