<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <p>
      <h3><u>Lead</u></h3>
      <h4><%= @lead.first_name %> <%= @lead.last_name %></h4>
    </p>

    <p>
      <b>Phone:</b>
      <%= @lead.phone %>
    </p>

    <p>
      <b>Email:</b>
      <%= @lead.email %>
    </p>

    <p>
      <b>User:</b>
      <%= @lead.user ? @lead.user.full_name : "There is no one asigned to this lead. Please assign someone to this lead." %>
    </p>

    <p>
      <b>Stage:</b>
      <%= @lead.stage ? @lead.stage.name : "No Stage Set, Please update satge of lead." %>
    </p>

    <% unless @lead.student_information == "" %>
      <p>
        <b>Student information:</b>
        <%= @lead.student_information %>
      </p>
    <% end %>

    <p>
      <b>Active:</b>
      <%= @lead.active? %>
    </p>

    <%= link_to("/infusion_pages/home?first_name=#{@lead.first_name}&last_name=#{@lead.last_name}&phone=#{@lead.phone}&email=#{@lead.email}", class: "m-btn green" ) do %>
      Convert to Customer <i class="icon icon-arrow-right icon-white"></i>
    <% end %>
    <br>
    <br>
    <p>
      <%= link_to 'Edit', edit_lead_path(@lead) %> |
      <%= link_to 'Back', leads_path %>
    </p>
  </div>

  <div class="col-lg-1 col-md-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <p>
      <h3>Notes</h3>
        <%= simple_form_for [Lead.find(@lead.id), Note.new], remote: true do |f| %>
          <%= f.input :content, input_html: { style: "width:100%;", rows: 4 } %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.input :lead_id, as: :hidden, input_html: { value: @lead.id } %>
          <%= f.button :submit, class: "btn btn-success btn-xs", id: "lead_note" %>
        <% end %>
        <br>
      <div id="lead_notes" class="notes">
        <%= render 'lead_notes' %>
      </div>
    </p>
  </div>
</div>