<%= link_to "Edit", edit_learning_plan_path(@learning_plan), class: "btn btn-default pull-right" %>

<p>
  <strong>Student:</strong>
  <%= link_to @learning_plan.student.full_name, @learning_plan.student %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @learning_plan.grade %>
</p>

<p>
  <strong>Course:</strong>
  <%= @learning_plan.course.name %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @learning_plan.learning_plan_issue.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @learning_plan.notes %>
</p>

<p>
  <strong>Strengths:</strong>
  <%= @learning_plan.strengths %>
</p>

<p>
  <strong>Goals:</strong><br>
  <ol>
    <% @learning_plan.goals.each do |goal| %>
    <li><%= goal.name %></li>
    <% end %>
  </ol>
</p>
<% if @learning_plan.help_session_records.any? %>
<p>
  <strong>Past Homework Help Sessions:</strong><br>
  <ol>
    <% @learning_plan.help_session_records.each do |help_session_record| %>
    <li><%= "#{help_session_record.comments} (#{help_session_record.date.strftime('%D')})" %></li>
    <% end %>
  </ol>
</p>
<% end %>
