<hr>
<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for(@help_session_record) do |f| %>
      <%= f.error_notification %>
        <%= f.association :student, selected: params[:student_id], label_method: :full_name, input_html: { class: "chosen" } if params[:student_id]  %>
        <%= f.association :student, label_method: :full_name, input_html: { class: "chosen" } unless params[:student_id]  %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :date, as: :string, input_html: { value: params[:date], class: "datepicker" } if params[:date] %>
        <%= f.input :date, as: :string, input_html: { class: "datepicker" } unless params[:date] %>
        <%= f.input :session_length, as: :select, collection: [["30 Minutes", 30],["60 Minutes", 60],["90 Minutes", 90]] %>
        <% if @student && @student.has_learning_plan %>
          <%= f.input :learning_plan_id, as: :hidden, input_html: { value: @student.learning_plans.last.id } %>
        <% end %>
  </div>
  <div class="col-sm-4">
        <%= f.input :comments, placeholder: "What was accomplished? What should be worked on? Any major milestones?", hint: "Please note: These comments are intended for parents to view.", input_html: { rows: 5 } %>
  </div>

</div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-success btn-lg', data: { confirm: 'Are you sure you want to submit this learning plan? Please double check the information before confirming.' } %>
      </div>
    </div>
  </div>
  <% end %>
