<%= simple_form_for(@experience) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  	<%= f.simple_fields_for :experience_points do |builder| %>
	  <p>
	  	<%= builder.input :student_id %>
	  	<%= builder.input :points %>
      </p>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
