<%= simple_form_for(@experience) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :points %>
    <%= f.input :category %>
    <%= f.input :content, as: :text, :input_html => { :rows => 5 } %>
  </div>
    <%= f.button :submit %>
<% end %>

<p>
  <%= render '/students/nav_buttons' %>
</p>