<%= simple_form_for @experience, :validate => true, :html => {:mutlipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :active, as: :boolean, label: false, inline_label: true %>
    <%= f.input :name %>
    <%= f.association :occupation, label_method: :title %>
    <%= f.input :points %>
    <%= f.input :category, as: :select, collection: Experience::CATEGORY %>
    <%= f.input :content, as: :text, :input_html => { :rows => 5 } %>
    <%= f.association :resources, label_method: :filename %>
    <%= f.input :remove_image, as: :boolean, label: 'Remove Image' if @experience.image? %>
    <%= image_tag(@experience.image_url) if @experience.image? %>
    <p>
      <%= f.input :image, as: :file, label: "Upload Image" unless @experience.image? %>
    </p>
  </div>
    <%= f.button :submit, class: "btn btn-lg btn-success" %>
<% end %>
