<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= simple_form_for @experience, :html => {:mutlipart => true} do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.association :occupation, label_method: :title %>
      <%= f.input :points %>
      <%= f.input :category, as: :select, collection: Experience::CATEGORY %>
      <%= f.association :resources, as: :select, label_method: :filename, input_html: {class: :xp_chosen} %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= f.input :content, as: :text, :input_html => { :rows => 10 } %>
      <%= f.input :active, as: :boolean, label: false, inline_label: true %>
      <%= f.input :remove_image, as: :boolean, label: 'Remove Image' if @experience.image? %>
      <%= image_tag(@experience.image_url, width: '200') if @experience.image? %>
      <p>
        <%= f.input :image, as: :file, label: "Upload Image" unless @experience.image? %>
      </p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <% unless @experience.badge.name %>
        <div class="well well-sm">
          <h3 class="text-center" style="margin-top:0;"> <%= @action == "edit" ? "Edit" : "Add A" %> Badge</h3>
          <%= f.simple_fields_for :badge do |badge_form| %>
            <%= badge_form.input :name %>
            <%= badge_form.association :category %>
            <%= badge_form.input :submission_type, collection: Badge::SUBMISSION_TYPES.zip((0..1).to_a) %>
            <%= badge_form.input :requirements, input_html: { rows: 6, style: "resize:vertical;"} %>
            <%= badge_form.input :write_up_required %>
            <%= badge_form.input :multiple, label: "This badge can be earned multiple times." %>
            <%= badge_form.input :requires_approval, label: "This badge requires approval." %>
            <%= badge_form.input :parent_can_request, label: "A parent can request this badge" %>
            <%= badge_form.input :image, as: :file, label: "Upload Image" unless @experience.badge && @experience.badge.image? %>
            <div class="text-center">
            <%= image_tag(@experience.badge.image_url, size: '200x200') if @experience.badge && @experience.badge.image? %>

            <%= f.input :remove_image, as: :boolean, label: 'Remove Image' if @experience.badge && @experience.badge.image? %>
            </div>
          <% end %>
        </div>
    <% else %>
      <h2 class='text-center'>There is already a badge associated with this achievement. To edit it, click <%= link_to "here", @experience.badge, target: '_blank' %>.</h2>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
  <% end %>
  </div>
</div>
