<h1>Listing experiences</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Points</th>
    <th>Category</th>
    <th>Content</th>
    <th></th>
    <th></th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%= experience.id %></td>
    <td><%= experience.name %></td>
    <td>
      <% if experience.points %>
        <%= experience.points %>
      <% else %>
        <em>Please add points.</em>
      <% end %>
    </td>
    <td><%= experience.category %></td>
    <td><%= experience.content %></td>
    <td><%= link_to 'Show', experience %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experience', new_experience_path %>
