<% title "Achievements" %>

<h1><%= yield(:title)%></h1>

<% if current_user.admin? %>
  <p>
    Download:
    <%= link_to "CSV", experiences_path(format: "csv") %>
  </p>
  <p>
    <%= link_to 'New Achievement', new_experience_path, class: "btn btn-success" %>
  </p>
<% end %>

<table id="datatable" class="display">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Points</th>
      <th>Category</th>
      <th>Content</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.id %></td>
        <td><%= experience.name %></td>
        <td>
          <% if experience.points %>
            <%= experience.points %>
          <% else %>
            <em>Please add points.</em>
          <% end %>
        </td>
        <td><%= experience.category %></td>
        <td><%= experience.content %></td>
        <td><%= link_to 'Show', experience %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if signed_in? && current_user.admin? %>
  <%= render 'layouts/import_form', resource: @experiences %>
<% end %>
