<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @experience.name %>
</p>

<p>
  <b>Points:</b>
  <% if @experience.points %>
    <%= @experience.points %>
  <% else %>
    <em>Please add points.</em>
  <% end %>
</p>

<p>
  <b>Category:</b>
  <%= @experience.category %>
</p>

<p>
  <b>Content:</b>
  <%= @experience.content %>
</p>

<p>
  <%= image_tag @experience.image_url if @experience.image_url %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
