<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @experience.name %>
</p>

<p>
  <b>Category:</b>
  <%= @experience.category %>
</p>

<p>
  <b>Content:</b>
  <%= @experience.content %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
