<p>
  <b>Name:</b>
  <%= @experience.name %>
</p>

<p>
  <b>Points:</b>
  <% if @experience.points %>
    <%= @experience.points %>
  <% else %>
    <em>Please add points.</em>
  <% end %>
</p>

<p>
  <b>Occupation:</b>
  <%= @experience.occupation.title if @experience.occupation %>
</p>

<p>
  <b>Category:</b>
  <%= @experience.category %>
</p>

<% if signed_in? && current_user.employee? %>
<p>
  <b>Secret Code:</b>
  <%= Base64.encode64(@experience.id.to_s) if @experience.category && @experience.category == "Robotics" %>
</p>
<% end %>

<p>
  <b>Content:</b>
  <%= @experience.content.html_safe %>
</p>
  <%= link_to image_tag(@experience.image_url, size: "100"), size: "100"), @experience.image.url if @experience.image_url %>

<p>
  <b>Resources:</b>
  <% @experience.resources.each do |resource| %>
    <div class="resource_thumb" style="background:white;">
      <div class="name"><%= resource.filename %></div>
      <div class="thumb-image"><%= link_to image_tag(resource.file_url(:thumb)), resource.file.url, :target => "_blank" %></div>
    </div>
  <% end %>
</p>
<div style="clear:both;"></div>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
