<p id="notice"><%= notice %></p>

<h1>Listing Learning Plan Goals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learning_plan_goals.each do |learning_plan_goal| %>
      <tr>
        <td><%= learning_plan_goal.name %></td>
        <td><%= learning_plan_goal.completed %></td>
        <td><%= link_to 'Show', learning_plan_goal %></td>
        <td><%= link_to 'Edit', edit_learning_plan_goal_path(learning_plan_goal) %></td>
        <td><%= link_to 'Destroy', learning_plan_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning plan goal', new_learning_plan_goal_path %>
