<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.input :name %>
    <%= f.input :week %>
    <%= f.association :course, label_method: :course_name %>
    <%= f.input :assignment %>
    <%= f.input :assignment_key %>
    <%= f.input :assessment %>
    <%= f.input :assessment_key %>
    <%= f.submit %>

<% end %>
