<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <%= simple_form_for(@lesson) do |f| %>
      <% if @lesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @lesson.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.association :course, input_html: { class: 'chosen' } %>
        <%= f.input :name %>
        <%= f.input :week %>
        <%= f.association :standard, label_method: :name %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= f.input :assignment, as: :select, collection: Resource.order(created_at: :desc).where("category = ?", "Assignments"), label_method: :filename_created_at %>
        <%= f.input :assignment_key, as: :select, collection: Resource.order(created_at: :desc).where("category = ?", "Assignment Keys"), label_method: :filename_created_at %>
        <%= f.association :resources, label_method: :filename, item_wrapper_class: 'inline' %>
        <%= f.association :problems, label: "Activites", label_method: :title %>
  </div>
</div>
<div class="row">
        <%= f.button :submit, class: "btn btn-success btn-lg pull-right" %>
    <% end %>
</div>
