<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :week %>
    <%= f.association :standard, label_method: :name %>
    <%= f.input :assignment, as: :select, collection: Resource.where("category = ?", "Assignments"), label_method: :filename %>
    <%= f.input :assignment_key, as: :select, collection: Resource.where("category = ?", "Assignment Keys"), label_method: :filename %>
    <%= f.association :activities, label_method: :title, :input_html => { :class => 'span4' } %>
    <%= f.button :submit, class: "m-btn" %>

<% end %>
