<% title "Lessons" %>

<h1><%= yield(:title)%></h1>

<% if current_user.admin?%>
<p>
  Download:
  <%= link_to "CSV", lessons_path(format: "csv", id: @offering.id) %>
</p>
<p>
  <%= link_to 'New Lesson', new_lesson_path, class: "m-btn green" %>
</p>
<% end %>

<table id="lessons" class="display">
  <thead>
        <tr>
          <th>Name</th>
          <th>Week</th>
          <th>Course</th>
          <th>Standard</th>
          <th>Assignment</th>
          <th>Assignment Key</th>
          <th></th>
        </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
        <td><%= lesson.week %></td>
        <td><%= lesson.standard.course.course_name if lesson.standard %></td>
        <td><%= lesson.standard.name if lesson.standard %></td>
        <td><%= link_to "Assignment", Resource.find(lesson.assignment) if lesson.assignment && lesson.assignment != '' && lesson.assignment != nil  %></td>
        <td><%= link_to "Assignment Key", Resource.find(lesson.assignment_key) if lesson.assignment_key && lesson.assignment_key != '' && lesson.assignment_key != nil  %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if signed_in? && current_user.admin? %>
<h3> Import Lessons</h3>
  <%= form_tag import_lessons_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>