<% title "Lessons" %>
<fieldset>
    <legend>
    <h1><%= yield(:title)%></h1>
    </legend>

<table id="lessons" class="display">
  <thead>
        <tr>
          <th>Name</th>
          <th>Week</th>
          <th>Course</th>
          <th>Assignment</th>
          <th>Assignment key</th>
          <th>Assesment</th>
          <th>Assesment key</th>
          <th></th>
        </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
        <td><%= lesson.week %></td>
        <td><%= lesson.course.course_name %></td>
        <td><a href="<%= lesson.assignment %>"target="_blank"> Assignment </a></td>
        <td><a href="<%= lesson.assignment_key %>"target="_blank"> Assignment Key </a></td>
        <td><%= lesson.assesment %></td>
        <td><%= lesson.assesment_key %></td>
        <td><%= link_to 'Show', lesson %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

    <%= link_to 'New Lesson', new_lesson_path, class: "btn btn-success" %>
</fieldset>