<% title "Lessons" %>

<h1><%= yield(:title)%></h1>


<p>
  <%= link_to 'New Lesson', new_lesson_path, class: "btn btn-success" %>
</p>
<table id="lessons" class="display">
  <thead>
        <tr>
          <th>Name</th>
          <th>Week</th>
          <th>Course</th>
          <th>Assignment</th>
          <th>Assignment key</th>
          <th>Assessment</th>
          <th>Assessment key</th>
          <th></th>
        </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
        <td><%= lesson.week %></td>
        <td><%= lesson.course.course_name %></td>
        <td><a href="<%= lesson.assignment %>"target="_blank"> Assignment </a></td>
        <td><a href="<%= lesson.assignment_key %>"target="_blank"> Assignment Key </a></td>
        <td><%= lesson.assessment %></td>
        <td><%= lesson.assessment_key %></td>
        <td><%= link_to 'Show', lesson %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />