<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lesson.name %>
</p>

<p>
  <b>Week:</b>
  <%= @lesson.week %>
</p>

<p>
  <b>Standard:</b>
  <%= @lesson.standard.name if @lesson.standard %>
</p>

<p>
  <b>Course:</b>
  <%= @lesson.standard.course.course_name if @lesson.standard %>
</p>

<p>
  <b>Assignment:</b>
  <%= link_to Resource.find(@lesson.assignment).filename %>
</p>

<p>
  <b>Assignment key:</b>
  <!-- Insert lesson key information. -->
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
