<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lesson.name %>
</p>

<p>
  <b>Week:</b>
  <%= @lesson.week %>
</p>

<p>
  <b>Course:</b>
  <%= @lesson.course.course_name %>
</p>

<p>
  <b>Assignment:</b>
  <a href="<%= @lesson.assignment %>"> <%= @lesson.name %> </a>
</p>

<p>
  <b>Assignment key:</b>
  <a href="<%= @lesson.assignment_key %>"> <%= @lesson.name %> Key </a>
</p>

<p>
  <b>Assesment:</b>
  <a href="<%= @lesson.assessment %>"> Assessment </a>
</p>

<p>
  <b>Assesment Key:</b>
  <a href="<%= @lesson.assessment_key %>"> Assessment Key</a>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
