<%= link_to "Edit", edit_lesson_path(@lesson), class: "btn btn-default pull-right" if current_user.employee? %>
<p>
  <h2><%= @lesson.name %></h2>
</p>

<p>
  <b>Week:</b>
  <%= @lesson.week %>
</p>

<p>
  <b>Standard:</b>
  <%= @lesson.standard.name if @lesson.standard %>
</p>

<p>
  <b>Course:</b>
  <%= @lesson.standard.course.course_name if @lesson.standard %>
</p>

<p>
  <b>Assignment:</b>
  <% if @lesson.assignment %>
    <%= link_to resource_lookup(@lesson.assignment).filename, resource_lookup(@lesson.assignment) unless @lesson.assignment == '#' || @lesson.assignment == "" %>
  <% end %>
</p>

<p>
  <b>Assignment key:</b>
  <% if @lesson.assignment_key %>
    <%= link_to resource_lookup(@lesson.assignment_key).filename, resource_lookup(@lesson.assignment_key) unless @lesson.assignment_key == '#' || @lesson.assignment_key == "" %>
  <% end %>
</p>

<p>
  <b>Additional Resources:</b>
  <% if @lesson.resources %>
    <% @lesson.resources.each do |resource| %>
      <p>- <%= link_to "#{resource.filename}", resource %></p>
    <% end %>
  <% else %>
    There are no additional resources associated with this lesson.
  <% end %>
</p>

<p>
  <b>Activities/Games/Problems:</b>
  <% if @lesson.problems %>
    <% @lesson.problems.each do |problem| %>
      <p>- <%= link_to "#{problem.title}", problem %></p>
    <% end %>
  <% else %>
    There are no activities associated with this lesson.
  <% end %>
</p>

<div hidden>
  <p>
   <b>Videos:</b>
  </p>

  <% @lesson.videos.each do |video| %>
    <p>
      <%=raw YouTubeAddy.youtube_embed_url("#{video.url}",420,315) if video.url %>
    </p>
  <% end %>
</div>
