<h1>Resources</h1>

<% if signed_in? && current_user.admin? %>
  <p>
    <%= link_to 'New Resource', new_resource_path, class: 'm-btn green' %>
  </p>
<% end %>

<table id="resources" class="display">
<thead>
  <tr>
    <th>Filename</th>
    <th>Thumbnail</th>
    <th>Type</th>
    <th>Size (Kb)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.filename %></td>
    <td><% if resource.file_url %>
        <%= link_to image_tag(resource.file_url(:thumb)), resource.file.url %>
        <% end %>
    </td>
    <td><%= resource.content_type %></td>
    <td><%= resource.file_size.to_i / 1024 %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />