<% title 'Upload a Resource' %>
<h1>Resources</h1>
<p>
  Download:
  <%= link_to "CSV", resources_path(format: "csv") %>
</p>

<div class="row">
	<div class="col-md-12">
		<div class="card bg-faded">
      <div class="card-block">
        <strong>Drag and drop images or PDFs to add them to Resources</strong>
  			<%= form_for Resource.new do |f| %>
  			  <%= f.file_field :file, multiple: true, name: "resource[file]" %>
          <%= f.field :subdomain, multiple: true, name: "resource[file]" %>
  			<% end %>

  			<script id="template-upload" type="text/x-tmpl">
    			<div class="upload mb-3">
    			  {%=o.name%}
    			  <div class="progress"><div class="progress-bar" style="width: 0%"></div></div>
    			</div>
  			</script>

  			<div id="uploads">
  			  <%= render @uploads if @uploads %>
  			</div>
   		  <div style="clear:both;"></div>
      </div>
		</div>
	</div>
</div>
<hr>
<table id="resources_table" class="display">
	<thead>
	  <tr>
	    <th>File</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		<% @resources.each do |resource| %>
		  <tr>
		    <td><%= resource.filename %></td>
		    <td><%= link_to 'Show', resource %></td>
		    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
		    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<br />

<% if signed_in? && current_user.try(:admin?) %>
  <p style="color:red;">(CAUTION: Only for editing attributes! This is not for uploading files.)</p>
  <%= render 'layouts/import_form', resource: @resources %>
<% end %>
