<h1>Resources</h1>

<div class="row">
	<div class="span12">
		<div class="well">
			<b>Drag and drop images or PDFs to add them to Resources</b>
			<%= form_for Resource.new do |f| %>
			  <%= f.file_field :file, multiple: true, name: "resource[file]" %>
			<% end %>

			<script id="template-upload" type="text/x-tmpl">
			<div class="upload">
			  {%=o.name%}
			  <div class="progress"><div class="bar" style="width: 0%"></div></div>
			</div>
			</script>

			<div id="uploads">
			  <%= render @uploads if @uploads %>
			</div>
 		  	<div style="clear:both;"></div>
		</div>
	</div>
</div>

<table id="resources_table" class="display">
	<thead>
	  <tr>
	    <th>File</th>
	    <th>Image</th>
	    <th>Type</th>
	    <th>Size</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
		<% @resources.each do |resource| %>
		  <tr>
		    <td><%= resource.filename %></td>
		    <td><% if resource.file_url %>
		        <%= link_to image_tag(resource.file_url(:thumb)), resource.file.url %>
		        <% end %>
		    </td>
		    <td><%= resource.content_type %></td>
		    <td><%= resource.file_size %></td>
		    <td><%= link_to 'Show', resource %></td>
		    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
		    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>