<p>
  <h3><%= @resource.filename %></h2>
  <%= link_to image_tag(@resource.file_url(:thumb)), @resource.file.url %>
</p>


<p>
  <b>Associated to Activity(s):</b><br />
  <% if @resource.activities %>
    <% @resource.activities.each do |activity| %>
    <%= activity.title %><br />
  <% end %>
  <% else %>
    "There are no activities associated with this resource."
  <% end%>
</p>

<%= link_to 'Edit', edit_resource_path(@resource), class: 'm-btn' %>
<%= link_to 'Back', resources_path, class: 'm-btn' %>
