<% title "Courses" %>

<h1><%= yield(:title)%></h1>

<% if signed_in? && current_user.admin? %>
  <p>
    <%= link_to 'New Course', new_course_path, class: "btn btn-success" %>
  </p>
  <p>
    Download:
    <%= link_to "CSV", courses_path(format: "csv") %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Course name</th>
    <th>Description</th>
    <th></th>
    <% if current_user.admin? %>
      <th></th>
    <% end %>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.name %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'Show', course %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />

<% if signed_in? && current_user.admin? %>
<h3> Import Courses</h3>
  <%= form_tag import_courses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Import", class: "btn btn-default" %>
  <% end %>
<% end %>
