<% title "Courses" %>

<h1><%= yield(:title)%></h1>

<% if signed_in? && current_user.admin? %>
  <p>
    <%= link_to 'New Course', new_course_path, class: "btn btn-success" %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Course name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.course_name %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<% if signed_in? && current_user.admin? %>
<h3> Import Courses</h3>
  <%= form_tag import_courses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>

<%= link_to 'New Course', new_course_path %>


