<div class="modal fade" id="oppClassInformationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to Course or Class</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@opportunity) do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <%= f.error_notification %>
                <%= f.association :course, label_method: :name, input_html: { class: 'chosen' } %>
                <%= f.association :offering, collection: @active_offerings.map{ |offering| [ offering.offering_name + " (#{offering.active_students_count})", offering.id] }, input_html: { class: 'chosen' } %>
                <%= f.button :submit, class: "pull-right btn btn-lg btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
