<div class="card card-default mb-4">
  <div class="card-header">
    <h3 style="display:inline;" class="card-title">Parent Information</h3>
    <%= link_to "Add To Parent Account", "javascript:void(0)", class: "pull-right", data: { toggle: "modal", target: "#addUserInformationModal"} unless @opportunity.user %>
  </div>
  <div class="card-block">

    <p>
      <strong>Name:</strong> <%= @opportunity.parent_name ? @opportunity.parent_name : "Please add parent name." unless @opportunity.user %>
      <%= link_to @opportunity.user.full_name, @opportunity.user if @opportunity.user  %>
    </p>
    <p>
      <strong>Phone:</strong> <%= @opportunity.parent_phone ? @opportunity.parent_phone : "Please add parent phone." unless @opportunity.user %>
      <%= @opportunity.user.phone if @opportunity.user %>
    </p>
    <p>
      <strong>Email:</strong> <%= @opportunity.parent_email ? @opportunity.parent_email : "Please add parent email." unless @opportunity.user %>
      <%= @opportunity.user.email if @opportunity.user %>
    </p>
  </div>
</div>
