<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Promotions</h3>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-sm-12">
      <%= simple_form_for :promotion, url: "/users/promotion", method: 'get', html: { class: 'form-inline' } do |f| %>
        <%= f.input :id, collection: @promotions, wrapper_class: "input-group", label: false %>
        <%= f.input :user_id, as: :hidden, input_html: { value: @opportunity.user_id }, label: false %>
        <%= f.input :opportunity_id, as: :hidden, input_html: { value: @opportunity.id }, label: false %>
        <%= f.submit "Start", class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>