<h1>All Opportunities</h1>
<p style='color:red;'>
  Please add new opportunities from admin's home page.
</p>
<table id="datatable" class="display">
  <thead>
    <tr>
      <th>Parent</th>
      <th>Student</th>
      <th>Offering</th>
      <th>Attended trial</th>
      <th>Trial date</th>
      <th>Status</th>
      <th>Possible restart date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.user ? opportunity.user.full_name : "No Parent Linked" %></td>
        <td><%= opportunity.student ? opportunity.student.full_name : "No Student Linked" %></td>
        <td><%= opportunity.offering ? opportunity.offering.offering_name : "No Class Linked" %></td>
        <td><%= opportunity.attended_trial %></td>
        <td><%= opportunity.trial_date %></td>
        <td><%= opportunity.status %></td>
        <td><%= opportunity.possible_restart_date %></td>
        <td><%= link_to 'Show', opportunity %></td>
        <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
        <td><%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
