<style media="screen">
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:rgb(90, 169, 236); }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
  margin-bottom:76px;
  display:inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
}
.legend td{
  padding:4px 5px;
  vertical-align:bottom;
}
.legendFreq, .legendPerc{
  align:right;
  width:50px;
}
</style>
<h1>Opportunities Dashboard</h1>
<hr>
<h2>Location And Status</h2>
<div id="dashboard">
</div>
<hr>
<h2>Aging Report</h2>
<div id="aging_report">
</div>
<hr>
<h1>Active Opportunities</h1>
<p style='color:red;'>
  Please add new opportunities from admin's home page.
</p>
<table id="datatable" class="display">
  <thead>
    <tr>
      <th>Parent</th>
      <th>Student</th>
      <th>Offering</th>
      <th>Attended trial</th>
      <th>Trial date</th>
      <th>Status</th>
      <th>Possible restart date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.user ? opportunity.user.full_name : "No Parent Linked" %></td>
        <td><%= opportunity.student ? opportunity.student.full_name : "No Student Linked" %></td>
        <td><%= opportunity.offering ? opportunity.offering.offering_name : "No Class Linked" %></td>
        <td><%= opportunity.attended_trial %></td>
        <td><%= opportunity.trial_date %></td>
        <td><%= opportunity.status %></td>
        <td><%= opportunity.possible_restart_date %></td>
        <td><%= link_to 'Show', opportunity %></td>
        <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
        <td><%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
