<p id="notice"><%= notice %></p>

<p>
  <strong>In:</strong>
  <%= @time_punch.in %>
</p>

<p>
  <strong>Out:</strong>
  <%= @time_punch.out %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_punch.comment %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @time_punch.modified %>
</p>


<%= link_to 'Edit', edit_time_punch_path(@time_punch) %> |
<%= link_to 'Back', time_punches_path %>
