<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <%= simple_form_for(@standard) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :category %>
      <%= f.input :description, :input_html => { :rows => 8 } %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <%= f.association :course, label_method: :name, item_wrapper_class: 'inline' %>
      <%= f.association :problems, label_method: :title, item_wrapper_class: 'inline' %>
      <%= f.association :activities, label_method: :title, item_wrapper_class: 'inline' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <%= f.button :submit, class: "btn btn-lg btn-success pull-right" %>
    <% end %>
  </div>
</div>
