<p>
  <strong>Standard:</strong>
  <%= @standard.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @standard.category %>
</p>

<p>
  <strong>Description:</strong><br />
  <%= simple_format(@standard.description) %>
</p>


<%= link_to 'Edit', edit_standard_path(@standard), class: 'm-btn' %>
<%= link_to 'All Standards', standards_path, class: 'm-btn' %>
<%= link_to 'Destroy', @standard, method: :delete, data: { confirm: 'Are you sure?' }, class: 'm-btn red' %>