<div class="row">
<div class="col-lg-8 col-md-8 col-md-12 col-md-12">
  <h3>Send An Email</h3>

  <%= simple_form_for @email do |f| %>
    <%= f.input :from_email, input_html: { disabled: true, value: current_user.email } %>
    <%= f.input :from_email, as: :hidden, input_html: { value: current_user.email } %>
    <%= f.input :to_email, collection: @employee_emails, :required => true, input_html: { class: "chosen", multiple: true } %>
    <%= f.input :subject %>
    <%= f.input :message, :as => :text, :required => true %>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>