<div class="hero-unit">
  <h1><%= @activity.title %></h1>
  <table class="table table-condensed">
    <tr>
      <td style="width:250px;">
        <% if @activity.image_url %>
          <%= link_to image_tag(@activity.image_url(:thumb)), @activity.image.url %>
        <% end %>
      </td>
      <td>
        <strong>Appropriate For:</strong><br />
        <% @activity.courses.each do |course|%>
          <%= course.course_name %><br />
        <% end %>
      </td>
      <td>
        <strong>Standards:</strong><br />
        <% @activity.standards.each do |standard|%>
          <%= standard.name %><br />
        <% end %>
      </td>
    </tr>
  </table>
  <p>
    <strong>Objective / Description:</strong><br />
    <%= simple_format(@activity.objective) %>
  </p>

  <p>
    <strong>Setup / Materials:</strong><br />
    <%= simple_format(@activity.setup) %>
  </p>

  <p>
    <strong>Instructions / Guidelines:</strong><br />
    <%= simple_format(@activity.content) %>
  </p>

  <p>
    <strong>Variations:</strong><br />
    <%= simple_format(@activity.variations) %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= simple_format(@activity.source) %>
  </p>

  <p>
    <strong>Resources:</strong>
    <% @activity.resources.each do |resource| %>
      <div class="resource_thumb" style="background:white;">
        <div class="name"><%= resource.filename %></div>
        <div class="thumb-image"><%= link_to image_tag(resource.file_url(:thumb)), resource.file.url, :target => "_blank" %></div>
      </div>
    <% end %>
  </p>
  <div style="clear:both;"></div>
</div>

<%= link_to 'Edit', edit_activity_path(@activity), class: 'm-btn' %>
<%= link_to 'All Activities', activities_path, class: 'm-btn' %>
<%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'm-btn red' %>