<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for(@product) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.association :location, label_method: :name, input_html: { class: 'chosen'} %>
      <%= f.input :sku %>
      <%= f.input :price, placeholder: "Enter $19.00 as 1900 or $19.99 as 1999" %>
      <%= f.input :quantity %>
      <%= f.input :credits %>

      <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
