<% title 'Products' %>
<h1>Listing Products</h1>

<table id="datatable" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Price</th>
      <th>Credits</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.location ? product.location.name : "Please add a location to this product." %></td>
        <td><%= product.price ? "$#{product.price_in_dollars}" : "Please add price." %></td>
        <td><%= product.credits %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'Add Product', new_product_path, class: "btn btn-success btn-lg" %>
</p>
<p>
  <%= link_to 'Manage Inventory', new_transaction_path, class: "btn btn-secondary btn-lg" %>
</p>
