<div class="row">
  <div class="col-md-4">
    <%= simple_form_for(@attendance) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :student, label_method: :full_name, input_html: { class: "chosen" } %>
        <%= f.input :date, as: :string, input_html: { class: "datepicker"} %>
        <%= f.association :offering, label_method: :offering_name, input_html: { class: "chosen" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-lg btn-success" %>
      </div>
    <% end %>
  </div>
</div>
