<div class="row">
  <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h2><%= @location.name%> Location</h2>
  <p>
    <%= @location.address %>,
    <%= @location.city %>,
    <%= @location.state %>
    <%= @location.zip %>
  </p>
  <% if signed_in? %>
    <% if current_user.admin?%>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th># of Offerings</th>
            <th># of Students</th>
            <th>Avg. Student/Offering</th>
            <th>Future Adds</th>
            <th>Students Added (30 days)</th>
            <th>Students Dropped (30 days)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @location.active_offerings.count %></td>
            <td><%= @total_location_students_count %></td>
            <td><%= (@total_location_students_count.to_f  / @location.active_offerings.count.to_f).round(2) %></td>
            <td><%= @location_future_adds.count %></td>
            <td><%= @location.students.added_last_30.count %></td>
            <td><%= link_to "#{@location.students.dropped_last_30.count}", "#dropsModal", data: {toggle: :modal} %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>

<%= render 'location_schedule' %>

<% if signed_in? and current_user.admin? %>
  <h3>Enrollment Totals By Class</h3>

  <div id="location-enrollment" class="" data-recruit = "<%= @recruit_count %>" data-tech = "<%= @tech_count %>" data-operative = "<%= @operative_count %>" data-analyst = "<%= @analyst_count %>" data-agent = "<%= @agent_count %>" data-specialops = "<%= @specialops_count %>" data-prealgebra = "<%= @prealgebra_count %>" data-algebra = "<%= @algebra_count %>" data-mmathteam = "<%= @m_math_team_count %>" data-emathteam = "<%= @e_math_team_count %>" data-chess = "<%= @chess_club_count %>" data-lego = "<%= @lego_robotics_count %>"> </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Recruit</th>
          <th>Tech</th>
          <th>Operative</th>
          <th>Analyst</th>
          <th>Agents</th>
          <th>Secial Ops</th>
          <th>Pre-Algebra</th>
          <th>Algebra</th>
          <th>Geometry</th>
          <th>E. Math Team</th>
          <th>M.S. Math Team</th>
          <th>Chess</th>
          <th>Robotics</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @recruit_count %></td>
          <td><%= @tech_count %></td>
          <td><%= @operative_count %></td>
          <td><%= @analyst_count %></td>
          <td><%= @agent_count %></td>
          <td><%= @specialops_count %></td>
          <td><%= @prealgebra_count %></td>
          <td><%= @algebra_count %></td>
          <td><%= @geometry_count %></td>
          <td><%= @e_math_team_count %></td>
          <td><%= @m_math_team_count %></td>
          <td><%= @chess_club_count %></td>
          <td><%= @lego_robotics_count %></td>
          <td><%= @enrollment_total %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
</div>
</div>
<div id="dropsModal" class="modal hide fade" tabindex="-1" role="dialog" labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style='padding-bottom:20px'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Students Dropped Last 30</h3>
  </div>
  <div class="modal-body-drops">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Classes</th>
        </tr>
      </thead>
      <tbody>
        <% @location.students.dropped_last_30.each do |student| %>
          <tr>
            <td><%= student.full_name %><td>
            <td>
              <% student.offerings.includes(:course).includes(:location).each do |offering| %>
                <%= offering.offering_name + " " %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
