<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @location.zip %>
</p>

<p>
  <b>Franchise:</b>
  <%= @location.franchise %>
</p>

<% if signed_in? %>
  <% if current_user.admin?%>
    <%= link_to 'Edit', edit_location_path(@location) %> |
    <%= link_to 'Back', locations_path %>
  <% end %>
<% end %>



<span class="row">
  <div class= "span4 well well-small container">
    <legend><h2><%= @location.name%> Stats</h2></legend>

    <table class="table">
      <thead>
        <tr>
          <th># of Offerings</th>
          <th># of Students</th>
          <th>Avg. Student/Offering</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @location.offerings.count %></td>
          <td><%= @location.students.count %></td>
          <td><%= @location.students.count / @location.offerings.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</span>
