<div class="row">
  <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= render 'location_stats' %>

    <%= render 'location_schedule' %>
  </div>
</div>

<h2>This Week's Assessments</h2>
<%= render 'assessment_appointments', appointments: @location_assessment_appointments %>

<%= render 'homework_help_appointments', appointments: @location_hw_help_appointments %>

<%= link_to "sample_student", sample_student_path, class: "btn btn-primary" %>

<%= render 'adds_modal' %>

<%= render 'restarting_modal' %>

<%= render 'drops_modal' %>

<%= render 'future_adds_modal' %>
