<div class="row">
  <div class="span6">
    <p>
      <b>Name:</b>
      <%= @location.name %>
    </p>

    <p>
      <b>Address:</b>
      <%= @location.address %>
    </p>

    <p>
      <b>City:</b>
      <%= @location.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @location.state %>
    </p>

    <p>
      <b>Zip:</b>
      <%= @location.zip %>
    </p>

    <p>
      <b>Franchise:</b>
      <%= @location.franchise %>
    </p>

    <% if signed_in? %>
      <% if current_user.admin?%>
        <%= link_to 'Edit', edit_location_path(@location) %> |
        <%= link_to 'Back', locations_path %>
      <% end %>
    <% end %>
  </div>

  <% if signed_in? %>
    <% if current_user.admin?%>
      <div class= "span6">
        <h2><%= @location.name%> Stats</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th># of Offerings</th>
              <th># of Students</th>
              <th>Avg. Student/Offering</th>
              <th>Students Added (30 days)</th>
              <th>Students Dropped (30 days)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @location_offerings.count %></td>
              <td><%= @total_location_students_count %></td>
              <td><%= @total_location_students_count  / @location_offerings.count %></td>
              <td><%= @location.students_added_last_30.count %></td>
              <td><%= @location.students_dropped_last_30.count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Class</th>
        <th>Grade</th>
        <th>Day/Time</th>
        <th>Teacher</th>
        <th>Classroom</th>
        <th># Students</th>
        <th>Open Spots</th>
      </tr>
    </thead>
    <tbody>
      <% @location_offerings.each do |offering| %>
        <tr>
          <td>
            <%= offering.course.course_name%><%= raw offering_capacity(offering)%>
          </td>
          <td><%= offering.course.grade if offering.course.grade %></td>
          <td><%= link_to "#{offering.day} / #{offering.time.strftime("%I:%M %p")}", offering %></td>
          <td>
            <% offering.users.each do |user| %>
              <% if user.role == "Teacher" %>
                <%= user.full_name %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= offering.classroom %>
          </td>
          <td><%= offering.active_students_count + offering.returning_students_count %></td>
            <td>
              <% if offering.course_id <= 10 %>
                <%= 10 - (offering.active_students_count + offering.returning_students_count) %>
              <% elsif [11, 12].include?(offering.course_id) %>
                <%= 8 - (offering.active_students_count + offering.returning_students_count) %>
              <% elsif offering.course_id > 13 %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
