<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Do Stuff <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% if current_user.admin? %>
        <li><%= link_to "New User", new_user_path %></li>
      <% end %>
      <li><%= link_to "New Student", new_student_path %></li>
      <li><%= link_to "New Course", courses_path %></li>
      <li><%= link_to "New Class", new_offering_path %></li>
      <li><%= link_to "New Experience", new_experience_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Billing", '/infusion_pages/home' %></li>
    </ul>
</li>