<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <strong>New</strong>
  </a>
  <div class="dropdown-menu" role="menu">
    <%= link_to "Employee", new_employee_users_path, class: 'dropdown-item' %>
    <%= link_to "Parent", new_parent_users_path, class: 'dropdown-item' %>
    <%= link_to "Achievement/Badge", new_experience_path, class: 'dropdown-item' %>
    <%= link_to "Class", new_offering_path, class: 'dropdown-item' %>
    <%= link_to "Course", new_course_path, class: 'dropdown-item' %>
    <%= link_to "Opportunity", new_opportunity_path, class: 'dropdown-item' %>
  </div>
</li>
<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <strong>Locations/Billing</strong>
  </a>
  <div class="dropdown-menu" role="menu">
    <% Location.all.each do |location| %>
      <%= link_to location.name, location, class: 'dropdown-item' %>
    <% end %>
    <%= link_to "Billing Audit", '/infusion_pages/audit', class: 'dropdown-item' %>
    <%= link_to "Reports", '/reports/new', class: 'dropdown-item' %>
  </div>
</li>
