<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner nav-font">
    <div class = "container">
      <%= link_to root_path, class: "brand" do %>
        <%= image_tag('MP-logo.png') %> Math Plus Academy
      <% end %>
      <nav>
        <ul class="nav pull-right ul-padding">

          <% if signed_in? %>
            <%if ["Teacher", "Teaching Assistant", "Admin"].include?(current_user.role) %>
              <%= render 'layouts/nav_links' %>
            <% end %>

            <% if current_user.admin? %>
              <%= render 'layouts/admin_tasks' %>
            <% end %>

            <%= render 'layouts/nav_dropdown' %>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>