<nav class="navbar navbar-light navbar-toggleable-md justify-content-right" style="background-color:#bebebe;">
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag('mp_logo.png', height: "15", style: 'margin-bottom:3px;') %>  Math Plus Academy
  <% end %>
  <% if signed_in? && help_session.in_session? %>
    <%= link_to help_sessions_active_session_path(student_id: help_session.student_id) do %>
      <span class="badge badge-info hidden-md-down" style="position:absolute;top:17px;">HW Help In Session</span>
    <% end %>
  <% end %>
  <% if signed_in? && class_session.in_session? %>
    <%= link_to root_url do %>
      <span class="badge badge-success hidden-md-down" style="position:absolute;top:17px;">Class In Session</span>
    <% end %>
  <% end %>
  <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-1">
    <ul class="navbar-nav">
      <% if signed_in? %>
        <% if current_user.parent? %>
          <li class="nav-item"><a class="nav-link" href="http://www.mathplusacademy.com/book-appointment"><strong>Schedule HW Help</strong></a></li>
        <% end %>
        <%= render 'layouts/nav_links' if current_user.employee? %>
        <%= render 'layouts/admin_links' if current_user.admin? %>
        <%= render 'layouts/nav_dropdown' %>
      <% else %>
        <li><%= link_to "<strong>Sign in</strong>".html_safe, new_user_session_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
    <%= render 'shared/user_search' if signed_in? && current_user.employee? %>
  </div><!-- /.navbar-collapse -->
</nav>
