<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <strong><i class="fa fa-user" style="margin-right:5px;"></i><%= current_user.full_name %></strong>
  </a>
  <div class="dropdown-menu">
    <%= link_to "Profile", current_user, class: 'dropdown-item' %>
    <%= link_to "Change Password", edit_user_registration_path, class: 'dropdown-item' %>
    <% if current_user.employee? %>
      <%= link_to "Report An Issue", new_issue_path, class: 'dropdown-item' %>
    <% end %>
    <%= link_to "Docs", operations_pages_main_path, class: 'dropdown-item' if current_user.employee? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
  </div>
</li>
