<div class="m-btn-group">
  <a class="m-btn blue dropdown-toggle" data-toggle="dropdown" href="#">
    Find/Edit Stuff <span class="caret"></span>
  </a>
  <ul class="m-dropdown-menu">
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Experience Points", experience_points_path %></li>
    <li><%= link_to "Achievements", experiences_path %></li>
    <li><%= link_to "Classes", offerings_path %></li>
    <li><%= link_to "Lessons", lessons_path %></li>
  </ul>
</div>