<% title "Sign In" %>
<div class="row login-page">
  <div class="offset-lg-4 offset-md-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0 text-center">Sign In</h3>
      </div>
      <div class="card-block">
        <%= simple_form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
          <%= f.input :email, wrapper: :vertical_input_group do %>
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            <%= f.input_field :email, :required => false, :autofocus => true, class: "form-control" %>
          <% end %>
          <%= f.input :password, wrapper: :vertical_input_group do %>
            <span class="input-group-addon" id="basic-addon1" style="min-width:41px;"><i class="fa fa-lock"></i></span>
            <%= f.input_field :password, :required => true, class: "form-control" %>
          <% end %>
          <%= f.input_field :remember_me, as: :boolean, inline_label: 'Remember me' if devise_mapping.rememberable? %>
          <br>
          <%= f.button :submit, "Sign in", class: "btn btn-secondary pull-right" %>
          <br>
        <% end %>
      </div>
      <div class="card-footer text-center text-muted">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
