<!DOCTYPE html>
<html>
  <head>
    <title>
      Math Plus Academy - <%= yield(:title) || "Inspiring kids to do great things" %>
    </title>
    <meta name="google-site-verification" content="PsKun4sJdNfNNY2qlasYo5H1R4VEKTbwVEnnTXCF9Hw">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/MP-Shield.png', rel: 'apple-touch-icon', type: 'image/png'  %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>

  <body>
    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3N924"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N3N924');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%= render 'layouts/fb_twitter_scripts' %>

    <%= render 'layouts/header' %>

    <%= render 'layouts/flash_message' %>

    <div class="page-wrapper gradient-primary">
      <div class="container" style="padding:60px 0 40px 0;">

        <%= yield %>

        <%= render 'layouts/footer' %>

        <% if Rails.env.development? %>
          <div class="container">
            <div class="card mt-4">
              <div class="card-block">
                <%= debug(params) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if content_for? :fb_conversion %>
      <%= yield :fb_conversion %>
    <% end %>

    <% if content_for? :fb_pixel %>
      <%= yield :fb_pixel %>
    <% end %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
