<!DOCTYPE html>
<html>
  <head>
    <title>
      Math Plus Academy - <%= yield(:title) || "Inspiring kids to do great things" %>
    </title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag '/MP-Shield.png', rel: 'apple-touch-icon', type: 'image/png'  %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>

  <body>

    <%= render 'layouts/fb_twitter_scripts' %>

    <%= render 'layouts/header' %>

    <div class="container">

      <%= render 'layouts/flash_message' %>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>

    <%= javascript_include_tag "application" %>

    <% if content_for? :fb_conversion %>
      <%= yield :fb_conversion %>
    <% end %>

    <% if content_for? :fb_pixel %>
      <%= yield :fb_pixel %>
    <% end %>

  </body>
</html>
