<!DOCTYPE html>
<html>
  <head>
    <title>
      Math Plus Academy - <%= yield(:title) || "Inspiring kids to do great things" %>
    </title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag '/MP-Shield.png', rel: 'apple-touch-icon', type: 'image/png'  %>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/fb_twitter_scripts' %>

    <%= render 'layouts/header' %>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= render 'layouts/flash_message' %>
        </div>
      </div>

      <%= yield %>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>

    </div>
    
    <%= javascript_include_tag "application" %>

    <% if content_for? :fb_conversion %>
      <%= yield :fb_conversion %>
    <% end %>
  </body>
</html>
